<ion-content class="speaker-detail">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/app/tabs/speakers"></ion-back-button>
      </ion-buttons>
      <ion-buttons *ngIf="speaker" slot="end">
        <ion-button (click)="openContact(speaker)">
          <ion-icon slot="icon-only" ios="call-outline" md="call-sharp"></ion-icon>
        </ion-button>
        <ion-button (click)="openSpeakerShare(speaker)">
          <ion-icon slot="icon-only" ios="share-outline" md="share-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="speaker-background">
    <img *ngIf="speaker" [src]="speaker?.resources.url_imagen" [alt]="speaker?.name + ' Picture'">
    <h2 *ngIf="speaker" >{{ speaker?.user.name + ' - ' + speaker?.user.last_name}}</h2>
	<p *ngIf="speaker" >{{ speaker?.user.title}}</p>
  </div>

  <ion-list-header [hidden]="!errors" class="not-found ion-padding">
   <div class="alert alert-danger alert-dismissible">
     <a href="javascript:void(0)" class="close" aria-label="close" (click)="errors=null" title="close">×</a>
     <strong>Error!</strong> {{errors}}
   </div>
  </ion-list-header>

  <div *ngIf="speaker"  class="ion-padding speaker-detail">
    <p>{{speaker?.description}}</p>
    
	<ion-card-content>
		<ion-list>
		  <ion-item>
			<ion-label>
			  <h4>Conferencias</h4>
			</ion-label>
		  </ion-item>
		  <ion-item *ngFor="let agenda of speaker.agenda" detail="false" routerLink="/app/tabs/schedule/session/{{agenda.id}}">
			<ion-label slot="start">
			  <h4 class="white-space">{{agenda.title}}</h4>
			  <h4 class="white-space">{{ (agenda.start_at * 1000) | date:'EEEE, MMMM d, y' }}</h4>
			  <p class="white-space">{{ (agenda.start_at * 10000 ) | date: 'hh:mm a' }} -
									  {{ (agenda.start_at * 10000 + agenda.duration_time * 60000 ) | date: 'hh:mm a' }}
			  </p>
			</ion-label> 
			<ion-thumbnail class="m-auto">
			  <ion-img [src]="agenda.resources.url_imagen" style="width: 73px;" class="ml"></ion-img>
			</ion-thumbnail>
		  </ion-item>

		</ion-list>
	</ion-card-content>
	
  </div>
</ion-content>
