.speaker-card {
  display: flex;
  flex-direction: column;
}

/* Due to the fact the cards are inside of columns the margins don't overlap
 * properly so we want to remove the extra margin between cards
 */
ion-col:not(:last-of-type) .speaker-card {
  margin-bottom: 0;
}

.speaker-card .speaker-item {
  --min-height: 85px;
}

.speaker-card .speaker-item h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.speaker-card .speaker-item p {
  font-size: 13px;
  letter-spacing: 0.02em;
}

.speaker-card ion-card-header {
  padding: 0;
}

.speaker-card ion-card-content {
  flex: 1 1 auto; 
  padding: 0;
}

.ios ion-list {
  margin-bottom: 10px;
}

.md ion-list {
  border-top: 1px solid var(--ion-color-step-150, #d7d8da); 
  padding: 0;
}


.name {
  margin: 12px 25px;
}



$width: 341px;
$height: 218px;
$delta-height: 12px;

:root {
  --width: 341px;
  --height: 218px;
}


.grid {
   position: absolute;
   margin: 18px;
   .card {
      position: absolute;
      width: #{$width};
      height: #{$height};      
      cursor: pointer;
      div .div-avatar {
        width: #{$width};
        height: #{$height};    
        background-size: calc( #{$width} / 2 ) calc( #{$height} - 7px );
        background-repeat: no-repeat;
      }
      
      div .name {
         position: absolute;
         right: 0px;
         text-align: right;
         border-right: 10px;
         padding-right: 10px;
         width: calc( #{$width} / 2 - 7px ) !important;
      }
      
      div .last-name {
         position: absolute;
         top: 51px;
         text-align: right;
         right: 5px;
         padding-right: 4px;
         border-right: 10px;
         width: calc( #{$width} / 2 - 7px ) !important;
      }
      
      div img {
          width: 74px;
          height: 67px;
          position: absolute;
          left: 40%;
          top: 18px;
      }
      
      div .description {
         margin-left: 20px;
         position: absolute;
         width: 41%;
         right: 10px;
         top: 96px;
         max-height: 102px;
         overflow: hidden;
      }
   }
}

.grid .card.item-1,    
.grid .card.item-4,
.grid .card.item-7,
.grid .card.item-10,
.grid .card.item-13,
.grid .card.item-16,
.grid .card.item-19,
.grid .card.item-22,
.grid .card.item-25,
.grid .card.item-28,
.grid .card.item-31,
 {
  left: 0;
}

.grid .card.item-2,
.grid .card.item-5,
.grid .card.item-8,
.grid .card.item-11,
.grid .card.item-14,
.grid .card.item-17,
.grid .card.item-20,
.grid .card.item-23,
.grid .card.item-26,
.grid .card.item-29,
 {
  left: calc( var(--width) + 10px);
}

.grid .card.item-3,
.grid .card.item-6,
.grid .card.item-9,
.grid .card.item-12,
.grid .card.item-15,
.grid .card.item-18,
.grid .card.item-21,
.grid .card.item-24,
.grid .card.item-27,
.grid .card.item-30,
 {
  left: calc( ( var(--width) ) * 2 + 20px);
}

.grid .card.item-4,
.grid .card.item-5,
.grid .card.item-6
{
  top: calc( var(--height) + #{$delta-height} );
}

.grid .card.item-7,
.grid .card.item-8,
.grid .card.item-9
{
  top: calc( ( var(--height) + #{$delta-height} ) * 2 );
}

.grid .card.item-10,
.grid .card.item-11,
.grid .card.item-12
{
  top: calc( var(--height) * 3 + ( #{$delta-height} * 3 ) );
}


.grid .card.item-13,
.grid .card.item-14,
.grid .card.item-15
{
  top: calc( var(--height) * 4 + ( #{$delta-height} * 4 ) );
}

.grid .card.item-16,
.grid .card.item-17,
.grid .card.item-18
{
  top: calc( var(--height) * 5 + ( #{$delta-height} * 5 ) );
}

.grid .card.item-19,
.grid .card.item-20,
.grid .card.item-21
{
  top: calc( var(--height) * 6 + ( #{$delta-height} * 6 ) );
}

.grid .card.item-22,
.grid .card.item-23,
.grid .card.item-24
{
  top: calc( var(--height) * 7 + ( #{$delta-height} * 7 ) );
}

.grid .card.item-25,
.grid .card.item-26,
.grid .card.item-27
{
  top: calc( var(--height) * 8 + ( #{$delta-height} * 8 ) );
}

.grid .card.item-28,
.grid .card.item-29,
.grid .card.item-30
{
  top: calc( var(--height) * 9 + ( #{$delta-height} * 9 ) );
}




:root {
  --border-radius: 29px;
}

.speaker-modal {
   min-height: 538px;
  .modal-wrapper {
    width:90%;
  }
}

.agenda {
  .title {
     color: #006BCC;
  }
}

.min-height {
  min-height: 538px;
}