<ion-header>
  <ion-toolbar>
    <ion-title>Conferencistas</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content fullscreen="true" scrollX="true">
  
  <!--routerLink="/speakers/speaker-details/{{speaker.id}}"-->
    <div class="grid">
      <div class="card item-{{(i+1)}} rounded-withradius grayscale" 
      *ngFor="let speaker of speakers;let i = index;" 
      (click)="presenterSpeakerModal(speaker)">
          <div class="d-flex" >
              <div class="div-avatar" [ngStyle]="{ 'background-image': 'url('+speaker.resources.url_image+')'}">
              </div>
              <h2 class="name">{{speaker.user.name}}</h2>
              <img src="https://res.cloudinary.com/dfxkgtknu/image/upload/v1631769965/samples/ico_ovvfue.png">
              <h3 class="last-name">{{speaker.user.last_name}}</h3>
              <ion-label class="description">
                <h5 class="white-space">{{speaker.title}}</h5>
                <h3 class="white-space">{{speaker.description}}</h3>
              </ion-label>
          </div>
      </div>

          <!--ion-card-content>
            <ion-list lines="none">
              <ion-item>
                <ion-label>
                  <h4>Conferencias</h4>
                </ion-label>
              </ion-item>
              <ion-item *ngFor="let agenda of speaker.agenda" detail="false" routerLink="/schedule/session/{{agenda.id}}">
                <ion-label slot="start">
                  <h4 class="white-space">{{agenda.title}}</h4>
                  <h4 class="white-space">{{ (agenda.start_at * 1000) | date:'EEEE, MMMM d, y' }}</h4>
                  <p class="white-space">{{ (agenda.start_at * 10000 ) | date: 'hh:mm a' }} -
                                          {{ (agenda.start_at * 10000 + agenda.duration_time * 60000 ) | date: 'hh:mm a' }}
                  </p>
                </ion-label> 
                <ion-thumbnail class="m-auto">
                  <ion-img [src]="agenda.resources.url_image" style="width: 73px;" class="ml"></ion-img>
                </ion-thumbnail>
              </ion-item>
    
            </ion-list>
          </ion-card-content>
        </ion-card--> 
      
    </div>
    <ion-list-header *ngIf="speakers && speakers.length === 0" class="not-found">
    No se encontraron conferencistas
  </ion-list-header>
  <ion-item [hidden]="!errors" class="not-found">
   <div class="alert alert-danger alert-dismissible">
     <a href="javascript:void(0)" class="close" aria-label="close" (click)="errors=null" title="close">×</a>
     <strong>Error!</strong> {{errors}}
   </div>
  </ion-item>

</ion-content>
