
<ion-content fullscreen="true">

  <div class="padding-container">
    <div class="login-logo">
      <img src="assets/icon/icon.png" alt="Feria logo" *ngIf="!dark">
      <img src="assets/icon/icon-black.png" alt="Feria logo" *ngIf="dark">
    </div>

    <form #loginForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-label position="stacked" class="font-18px">
            Nombre de usuario o correo
          </ion-label>
          <ion-input class="mt-3" [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
                     required>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
            Nombre de usuario o correo requerido
          </p>
        </ion-text>
      </ion-list>

      <ion-row>
        <ion-col>
          <ion-button (click)="onSendEmailPassword(loginForm)"  expand="block">Recuperar contraseña</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
