
.login-logo {
  padding: 72px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

.font-18px {
  font-size: 21px;
}

ion-item.item-has-focus > ion-label{
  color:  var(--color) !important;
}

ion-input {
  font-size: 14px;
}


.icon-eye {
    margin-top: 51px;
    cursor: pointer;
}