<ion-grid class="card w-100">
  <div class="info">
    <ion-icon color="primary" name="information-circle-outline"></ion-icon>
  </div>
  <div class="info-background">
  </div>
  <ion-row>
    <ion-col size="4">
       <!--img src="https://res.cloudinary.com/deueufyac/image/upload/v1631835507/sublimacion/productos/otros_productos/imgProducto2-08_ozf01b.png"-->
	   <app-carousel-images [product]="product" class="mt-5" (changePrice)="changePrice($event)">
       </app-carousel-images>
	   <ion-grid>
	   <ion-row *ngFor="let attr of attributes" class="attribute">
	   <ion-col size="6" class="header">
	     {{attr.name}}
	   </ion-col>
	   <ion-col size="6" class="value">
	     {{attr.value}}
	   </ion-col>
	   </ion-row>
	   </ion-grid>
	   
    </ion-col>
    <ion-col size="8" class="col-max scroll-light">
       <h2 class="name ion-text-center">{{product?.name}}</h2>
       <h6 class="description ion-text-justify pr-4 pt-2"><small>{{product?.description}}</small></h6>
       <h6 class="">Precio por unidad {{ priceSelected?.price  | currency: '$ ':'symbol':'1.0-2' }}</h6>
	   <div *ngFor="let item of product.resources?.detail?.elements; let i = index;" class="item-add" (mouseover)="lockHover = i">
            <ion-thumbnail class="thumbnail" slot="start" *ngIf="item.url">
              <ion-img [src]="item.url"></ion-img>
            </ion-thumbnail>
		    <iframe *ngIf="item.video" [src]="item.video.sanitizer" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen >
			</iframe>
			<h6 *ngIf="item.paragraph" class="description ion-text-justify pr-4 pt-2"><small>{{item.paragraph}}</small></h6>
			<div class="delete" [ngClass]="{'video': item.video,'paragraph': item.paragraph}" *ngIf="lockHover == i && profileRole && profileRole.admin" (mouseover)="lockHover = i">
			    <ion-button size="small" color="danger" fill="outline" (click)="onDeleteItemAdded(i)">Borrar</ion-button>
			</div>
	   </div>
        <ion-button expand="full" color="secondary" (click)="presentActionAdd()" *ngIf="profileRole && profileRole.admin">
		  Añadir elemento
		</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
		<ion-toolbar>
        <ion-button class="button mr-6" color="primary" size="small" (click)="onBuyProduct(product)">
	      Comprar
	    </ion-button>
		<ion-button [hidden]="showSelectAmount" class="button ml-6" color="primary" size="small" (click)="openSelect()">
	      Cantidad {{amount}}
	    </ion-button>
	    <select id="select-amount" class="select-amount" [(ngModel)]="amount" *ngIf="showSelectAmount" (change)="showSelectAmount=false">
	     <option value="1"> Cantidad 1 </option>
		 <option value="2"> Cantidad 2 </option>
		 <option value="3"> Cantidad 3 </option>
		 <option value="4"> Cantidad 4 </option>
		 <option value="5"> Cantidad 5 </option>
		 <option value="6"> Cantidad 6 </option>
		 <option value="7"> Cantidad 7 </option>
		 <option value="8"> Cantidad 8 </option>
		 <option value="9"> Cantidad 9 </option>
		 <option value="10"> Cantidad 10 </option>
	    </select>
		<h6 *ngIf="amount>1" slot="end">Total {{ ( priceSelected?.price * amount ) | currency: '$ ':'symbol':'1.0-2' }}</h6>
		</ion-toolbar>
    </ion-col>
   </ion-row>
  
</ion-grid>