<ion-grid class="card w-100">
  <div class="info">
    <ion-icon color="primary" name="information-circle-outline"></ion-icon>
  </div>
  <div class="info-background">
  </div>
  <div (click)="closeModal()" class="close-modal"><ion-icon name="close-outline" slot="icon-only"></ion-icon></div>
  <ion-row>
    <ion-col size="5" >
       <!--img src="https://res.cloudinary.com/deueufyac/image/upload/v1631835507/sublimacion/productos/otros_productos/imgProducto2-08_ozf01b.png"-->
       <div class="container-carousel-slide">
       <app-carousel-slides #carouselSlides [resize]="true" [product]="product" class="mt-5" (changePrice)="changePrice()">
       </app-carousel-slides>
       </div>
       <div class="attribute-list" *ngIf="attributes.length > 0">
         <div class="head">
           <div style="height: 2.1em;">
             Características
           </div>
         </div>
         <div class="attribute-scroll scroll-light">
            <div *ngFor="let attr of attributes; let i = index;" [ngClass]="{'par': i%2}" class="border-light-b d-flex attribute">
              <div class="pl-2 pt-2 capitalize w-50">
               {{attr.name}}
              </div>
               <div class="pl-2 p-2 capitalize w-50">
                {{attr.value}}
               </div>
            </div>
            <div class="border-light-b d-flex attribute" [ngClass]="{'par': (attributes.length ) %2}">
              .
            </div>
          </div>
       </div>
       
    </ion-col>
    <ion-col size="7" class="col-max scroll-light" *ngIf="product && priceSelected">
       <h2 class="name ion-text-center">{{product?.name}}</h2>
       <h6 class="description ion-text-justify pr-4 pt-2 mb-5"><small>{{product?.description}}</small></h6>
       <h6 *ngFor="let attr of product.attributeSelect" class="">
         {{ attr.label}}
         <select 
         [ngClass]="{ 'is-invalid': attr.error }" 
         [(ngModel)]="attr.selected" class="form-control w-90 ml-3 mt-2 w-90 p-0" style="font-size: 0.8em">
           <option *ngFor="let item of attr.list" value="{{item}}"><h6>{{item}}</h6></option>
         </select>
          <div *ngIf="attr.error" class="invalid-feedback">
            <div>Campo requerido</div>
         </div>
       </h6>
       <h6 *ngFor="let attr of priceSelected.attributeSelect">
         {{ attr.label}}
         <select 
         [ngClass]="{ 'is-invalid': attr.error }" 
         [(ngModel)]="attr.selected" class="form-control w-90 ml-3 mt-2 w-90 p-0" style="font-size: 0.8em">
           <option *ngFor="let item of attr.list" value="{{item}}"><h6>{{item}}</h6></option>
         </select>
       </h6>

       <h6 class="mb-5">Precio por unidad $ {{  ( priceSelected.price || product.price )  | currency: ' ':' ':'1.0-0' }}</h6>
       <h6 class="mb-1" *ngIf="otherGroup">
         <ion-grid>
           <ion-row>
               <ion-col *ngFor="let othGroup of otherGroup"  class="group-container mr-3 ml-3" 
               [ngClass]="{'selected': product.priceSelected == othGroup.priceSelected }"
               (click)="changeOtherPrice(othGroup)">
                 <div class="d-flex">
                    <img [src]="othGroup.image" class="group-image" [hidden]="othGroup.color"/>
                   <div class="group-background-color" [ngStyle]="{'background': othGroup.color}" *ngIf="othGroup.color"></div>
                   <div>
                     <small class="group-price"> $ {{othGroup.price | currency: ' ':' ':'1.0-0' }}</small>
                   </div>
                 </div>
               </ion-col>
           </ion-row>
         </ion-grid>
       </h6>
       
       <div *ngFor="let item of product.resources?.detail?.elements; let i = index;" class="item-add mt-3" (mouseover)="lockHover = i">
            <ion-thumbnail class="thumbnail" slot="start" *ngIf="item.url">
              <ion-img [src]="item.url"></ion-img>
            </ion-thumbnail>
            <iframe *ngIf="item.video" [src]="item.video.sanitizer" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen >
            </iframe>
            <h6 *ngIf="item.paragraph" class="description ion-text-justify pr-4 pt-2"><small>{{item.paragraph}}</small></h6>
            <div class="delete" [ngClass]="{'video': item.video,'paragraph': item.paragraph}" *ngIf="lockHover == i && profileRole && profileRole.admin" (mouseover)="lockHover = i">
                <ion-button size="small" color="danger" fill="outline" (click)="onDeleteItemAdded(i)">Borrar</ion-button>
            </div>
       </div>
        <ion-button expand="full" color="secondary" (click)="presentActionAdd()" *ngIf="profileRole && profileRole.admin">
          Añadir elemento
        </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
        <ion-toolbar class="pay-button ml-6" style="text-align: end;" [hidden]="showConfirmByProduct">
            <select id="select-amount" class="select-amount mr-4" [(ngModel)]="amount">
             <option value="1"> Cantidad 1 </option>
             <option value="2"> Cantidad 2 </option>
             <option value="3"> Cantidad 3 </option>
             <option value="4"> Cantidad 4 </option>
             <option value="5"> Cantidad 5 </option>
             <option value="6"> Cantidad 6 </option>
             <option value="7"> Cantidad 7 </option>
             <option value="8"> Cantidad 8 </option>
             <option value="9"> Cantidad 9 </option>
             <option value="10"> Cantidad 10 </option>
            </select>
            <ion-button style="margin-top: -0.4em;" class="button mr-4" color="primary" size="small" (click)="confirmBuyProduct(product)">
              Comprar
            </ion-button>
            <h6 style="margin-right:2em" *ngIf="amount>0" slot="end">Total $ {{ ( ( priceSelected.price || product.price ) * amount ) | currency: ' ':' ':'1.0-0' }}</h6>
        </ion-toolbar>
        <div *ngIf="showConfirmByProduct" class="mt-1">
          <ion-toolbar class="pay-button ml-6 footer-pay" style="bottom: 6em;">
            <h6 style="margin-right:2em; width: 87%;" slot="start">Confirma para agregar {{ amount }} {{ (amount > 1 ? 'productos': 'producto' )}} al carrito de compras por $ {{ ( ( priceSelected.price || product.price ) * amount ) | currency: ' ':' ':'1.0-0' }}</h6>
            <div (click)="showConfirmByProduct=false" class="close-play cursor-pointer"><ion-icon name="close-outline" slot="icon-only"></ion-icon></div>
          </ion-toolbar>
          <ion-toolbar class="pay-button ml-6 footer-pay">
            <ion-button class="button ml-6" color="primary" size="small" (click)="onBuyProductAndClose(product)">
               Añadir y seguir comprando
            </ion-button>
            <ion-button class="button ml-6" color="primary" size="small" (click)="onBuyProduct(product)">
               Añadir y pagar carrito
            </ion-button>
          </ion-toolbar>
        </div>
        <div  *ngIf="showRegister" class="mt-1">
          <ion-toolbar class="pay-button ml-6 footer-pay" style="bottom: 6em;">
            <h6 style="margin-right:2em; width: 87%;" slot="start">Para poder comprar este producto debes acceder con tu usuario</h6>
            <div (click)="showRegister=false" class="close-play cursor-pointer"><ion-icon name="close-outline" slot="icon-only"></ion-icon></div>
          </ion-toolbar>        
          <ion-toolbar class="pay-button ml-6 footer-pay">
            <ion-button class="button ml-6" color="primary" size="small" (click)="onLogin()">
               Acceder o crear cuenta
            </ion-button>
          </ion-toolbar>
        </div>
    </ion-col>
   </ion-row>
  
</ion-grid>