<ion-content class="md content-ltr hydrated" style="--offset-top:0px; --offset-bottom:0px;">
  <ion-list class="padding-container md list-md hydrated" role="list">
    <ion-item lines="none" class="item md item-lines-none item-fill-none in-list hydrated"
      role="listitem"></ion-item>
    <ion-item lines="none"
      class="mt-3 mb-4 item md item-lines-none item-fill-none in-list hydrated" role="listitem"><img
       
        src="https://res.cloudinary.com/deueufyac/image/upload/v1667438255/FERIAS/encabezado_csfxyb.png"
        class="image-form"></ion-item>
    <ion-item lines="none"
      class="color-title item md item-lines-none item-fill-none in-list hydrated" role="listitem">
      <div class="fs--1"> Formulario de inscripción a los talleres del VIII Congreso Nacional de
        Bibliotecas Públicas </div>
    </ion-item>
    <ion-item lines="none" class="mt-4 item md item-lines-none item-fill-none in-list hydrated"
      role="listitem">
      <div> Le damos la bienvenida al proceso de inscripción a los talleres del VIII Congreso
        Nacional de Bibliotecas Públicas: <span class="color-text">"Oralidades y culturas orales
          en las bibliotecas del sur"</span>. Recuerde que el congreso se realizará entre el 21 y el 26 de noviembre de
        2022 en modalidad virtual, por lo que es necesario contar con una buena conexión a Internet. <br
         ><br> Dentro de la programación del congreso se incluyó una
        jornada de talleres (sábado 26 de noviembre), cuyo propósito es ofrecer herramientas prácticas para potenciar la
        formación del personal bibliotecario en las distintas dimensiones de la oralidad. Se realizarán 13 talleres
        simultáneos de 9 a.m. a 11 a.m., y 12 talleres de 3 p.m. a 5 p.m. A través de este formulario, podrá elegir el
        taller de su preferencia. </div>
    </ion-item>
    <ion-item lines="none" class="mt-4 item md item-lines-none item-fill-none in-list hydrated"
      role="listitem">
      <div class="list-count color-text"> 1 </div>
      <p> Autorizo al Ministerio de Cultura para dar tratamiento a mis datos personales aquí
        registrados, conforme a la Ley 1581 del 2012 y la política de tratamiento de datos personales, con la finalidad
        de efectuar las funciones propias y procedentes de la entidad. Consulte nuestra política de tratamiento de datos
        en la página: <a target="_blank"
          href="https://www.mincultura.gov.co/prensa/noticias/Documents/Patrimonio/Politica%20de%20Datos%20Personales%20V4.pdf"
          class="href">
          https://www.mincultura.gov.co/prensa/noticias/Documents/Patrimonio/Politica%20de%20Datos%20Personales%20V4.pdf
        </a></p>
    </ion-item>
    <ion-item lines="none"
      class="item md item-lines-none item-fill-none in-list hydrated item-interactive item-input" role="listitem">
      <div class="list-count"> 1 </div>
      <ion-grid class="md hydrated">
        <ion-row class="md hydrated">
          <ion-col size="12" size-md="6" class="d-flex md hydrated"
            style="flex: 0 0 calc(calc(6 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(6 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(6 / var(--ion-grid-columns, 12)) * 100%);">
            <p class="d-flex ml-3 mt-3"><span
                style="color: rgb(224, 62, 45);">*</span><span> 2. ) Nombre Completo</span></p>
            <ion-input type="text"
              class="ion-text-start sc-ion-input-md-h sc-ion-input-md-s md hydrated"><input
                class="native-input sc-ion-input-md" autocapitalize="off" autocomplete="off" autocorrect="off"
                name="ion-input-0" placeholder="" spellcheck="false" type="text"></ion-input>
          </ion-col>
        </ion-row> Autorizo al Ministerio de Cultura para dar tratamiento a mis datos personales aquí registrados,
        conforme a la Ley 1581 del 2012 y la política de tratamiento de datos personales, con la finalidad de efectuar
        las funciones propias y procedentes de la entidad. Consulte nuestra política de tratamiento de datos en la
        página: <a target="_blank"
          href="https://www.mincultura.gov.co/prensa/noticias/Documents/Patrimonio/Politica%20de%20Datos%20Personales%20V4.pdf"
          class="href">
          https://www.mincultura.gov.co/prensa/noticias/Documents/Patrimonio/Politica%20de%20Datos%20Personales%20V4.pdf
        </a>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>