.product-mini {
  height: 100px;
  margin: 5px;
  width: 100px;
  max-width: 100px;
}

.product-mini ion-img{
  height: 100px;
  margin: 5px;
  width: 100px;
}

.container-height {
  height: 403px;
  overflow: auto;
}

.close-modal {
  cursor: pointer;
  position: absolute;
  right: 0.7em;
  top: 0;
  font-size: 2.5em;
  color: darkgray;
  z-index: 100;
}