<ion-header class="mt-5">
  <ion-toolbar>
    <ion-buttons slot="start">

    </ion-buttons>

    <ion-title>Categorías - Subcategorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list-header [hidden]="!success">
  <div class="alert alert-success fade show alert-dismissible">
    <a href="javascript:void(0)" class="close" aria-label="close" (click)="success=null" title="close">×</a>
    <strong></strong> {{success}}
  </div>
</ion-list-header>
<ion-content fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list lines=""  class="padding-container">
          <ion-grid class="ion-text-center">
            <ion-row class="ion-margin">
              <ion-col>
                <ion-title>
                  <ion-text color="default">
                    Categorías
                  </ion-text>
                </ion-title>
              </ion-col>
            </ion-row>
            <ion-row class="header-row">
              <ion-col>
                <ion-text>Tipo</ion-text>
              </ion-col>

              <ion-col>
                <ion-text>Nombre</ion-text>
              </ion-col>

              <ion-col>
                <ion-text>Recursos</ion-text>
              </ion-col>

              <ion-col>
                <ion-text>Acción</ion-text>
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let category of categories;let i = index">
              <ion-col>
                <ion-text>
                  {{category.type}}
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-text>
                  {{category.name}}
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-text>
                  {{category.resources.color}}
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-text>
                  <ion-button size="small" style="font-size: 9px;" color="primary" (click)="getCategory(category.id)">Editar</ion-button>
                </ion-text>
              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list lines=""  class="padding-container">
          <ion-grid class="ion-text-center">
            <ion-row class="ion-margin">
              <ion-col>
                <ion-title>
                  <ion-text color="default">
                    Subcategoría
                  </ion-text>
                </ion-title>
              </ion-col>
            </ion-row>
            <ion-row class="header-row">
              <ion-col>
                <ion-text>Categoría</ion-text>
              </ion-col>

              <ion-col>
                <ion-text>Tipo</ion-text>
              </ion-col>

              <ion-col>
                <ion-text>Nombre</ion-text>
              </ion-col>
              <ion-col>
                <ion-text>Recursos</ion-text>
              </ion-col>
              <ion-col>
                <ion-text>Acción</ion-text>
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let subcategory of subCategories;let i = index">
              <ion-col>
                <ion-text>
                  {{subcategory.name}}
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-text>
                  {{subcategory.category.type}}
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-text>
                  {{subcategory.category.name}}
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-text>
                  {{subcategory.category.resources.color}}
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-text>
                  <ion-button size="small" style="font-size: 9px;" color="primary">Editar</ion-button>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-list lines=""  class="padding-container">
        <ion-button (click)="showFormCategory=true;showFormSubCategory=false;clearCategory()" color="success" size="small">
          <ion-label > Nueva Categoría</ion-label>
          <ion-icon slot="end" name="plus-outline"></ion-icon>
        </ion-button>
        <ion-button  (click)="showFormCategory=false;showFormSubCategory=true" color="warning" size="small">
          <ion-label > Nueva Subcategoría </ion-label>
          <ion-icon slot="end" name="plus-outline"></ion-icon>
        </ion-button>
      </ion-list>
    </ion-row>
    <ion-row *ngIf="showFormSubCategory">
      <ion-col>
        <ion-list lines=""  class="padding-container">
        <ion-item button="true">
          <ion-label> Categoría </ion-label>
          <ion-select [(ngModel)]="subCategory.category_id">
            <ion-select-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item button="true">
            <ion-label> Tipo </ion-label>
            <ion-select [(ngModel)]="subCategory.type" name="type">
              <ion-select-option value="AgendaType">Agenda</ion-select-option>
              <ion-select-option value="ProductType">Producto</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item button="true">
          <ion-label> Nombre </ion-label>
          <ion-input class="ml-auto" class="text-right" [(ngModel)]="subCategory.name"  name="name"></ion-input>
        </ion-item>
        <ion-item button="true">
          <ion-label> Color </ion-label>
          <ion-input class="ml-auto" class="text-right"   [(ngModel)]="subCategory.resource.color" name="color"></ion-input>
        </ion-item>
          <ion-item button="true">
            <ion-label> Url imagen </ion-label>
            <ion-input class="ml-auto" class="text-right"  [(ngModel)]="subCategory.resource.image"  name="image"></ion-input>
          </ion-item>

        <div class="ion-padding mt-2">
          <ion-button (click)="storeSubCategory()" size="small" [hidden]="subCategory.id">
            <ion-label > Guardar </ion-label>
            <ion-icon slot="end" name="save-outline"></ion-icon>
          </ion-button>
          <ion-button  color="warning" size="small" *ngIf="subCategory.id">
            <ion-label > Editar </ion-label>
            <ion-icon slot="end" name="pencil-outline"></ion-icon>
          </ion-button>

        </div>
      </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showFormCategory">
      <ion-col>
        <ion-list lines=""  class="padding-container">
          <ion-item button="true">
            <ion-label> Tipo </ion-label>
            <ion-select [(ngModel)]="category.type">
              <ion-select-option value="AgendaType">Agenda</ion-select-option>
              <ion-select-option value="ProductCategory">Producto</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item button="true">
            <ion-label> Nombre </ion-label>
            <ion-input class="ml-auto" class="text-right" [(ngModel)]="category.name"  name="name"></ion-input>
          </ion-item>
          <ion-item button="true">
            <ion-label> Color </ion-label>
            <ion-input class="ml-auto" class="text-right" [(ngModel)]="category.resource.color"  name="color"></ion-input>
          </ion-item>
          <ion-item button="true">
            <ion-label> Url imagen </ion-label>
            <ion-input class="ml-auto" class="text-right" [(ngModel)]="category.resource.image"  name="image"></ion-input>
          </ion-item>

          <div class="ion-padding mt-2">
            <ion-button (click)="storeCategory()" size="small" [hidden]="category.id">
              <ion-label > Guardar </ion-label>
              <ion-icon slot="end" name="save-outline"></ion-icon>
            </ion-button>
            <ion-button  (click)="updateCategory()" color="warning" size="small" *ngIf="category.id" >
              <ion-label > Editar </ion-label>
              <ion-icon slot="end" name="pencil-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


