<ion-button color="light" class="full-screen-button" (click)="onToogleFullScreen()">
    <ion-icon name="contract-outline" *ngIf="fullScreen"></ion-icon>
    <ion-icon name="expand-outline" *ngIf="!fullScreen"></ion-icon>
</ion-button>

<ion-content class="">

  <div id="gui"></div>
  
  <ion-item [hidden]="!errors" class="error-video not-found">
       <div class="alert alert-danger alert-dismissible">
         <a href="javascript:void(0)" class="close" aria-label="close" (click)="errors=null" title="close">×</a>
         <strong>Error!</strong> {{errors}}
       </div>
  </ion-item>

  <!--video #videoMeeting 
    id="{{'videoMeeting_'+agenda?.id}}"
    [ngStyle]="{'opacity': intro && resources?.video ? 1 : 0, 'position': intro && resources?.video ? 'block' : 'absolute'}"
    muted 
    [src]="[resources?.video]"
    class="video">
  </video-->
  
  <!--div [ngStyle]="{'opacity':  intro? 0: 1}" 
  #canvasMeeting class="canvas" [ngClass]="{'canvas-full-screen': fullScreen}"></div-->
  
    <div class="scene" *ngFor="let banner of scene?.banners;let i = index"
     [ngStyle]="{
          'left': banner.position?.x + 'px ', 
          'top': + banner.position?.y + 'px',
          'width': + banner.rotation?.x + 'px',
          'height': + banner.rotation?.y + 'px'
    }">
    <div class="cube" *ngIf="banner.internalUrl">
      <a [routerLink]="banner.internalUrl" routerLinkActive="selected" routerDirection="root" >
      <div class="cube__face  square {{banner.class}} cursor-pointer" 
        id="obj-{{banner.id}}"
        (mouseover)="isHover = banner.id; startAnimation(banner)" 
        (mouseout)="isHover = false"
        [ngClass]="{'link': banner.internalUrl ||  banner.externalUrl }"
        [ngStyle]="{
          'opacity': banner.opacity,
          'background-image': 'url('+banner.image_url+')',
          'background-size': banner.size?.x + 'px ' + banner.size?.y + 'px',
          'background-repeat': 'no-repeat',
          'background-color': ''+banner.backgroundColor+'',
          'width': banner.size?.x + 'px ', 
          'height': + banner.size?.y + 'px',
          'border-color': banner.border?.color,
          'border-style': banner.border?.style,
          'border-radius': banner.border?.radius + 'px',
          'font-size': banner.fontSize + 'px ',
          'color': banner.fontColor + '',
          'transform': 'translateZ(104px) rotateY(' + banner.rotation?.z + 'deg)'
          }"> {{ banner.text }}    </div>
      </a>
    </div>
    <div class="cube" *ngIf="banner.externalUrl">
      <a [href]="banner.externalUrl" target="_blank">
      <div class="cube__face cube__face--right square {{banner.class}} cursor-pointer" 
        id="obj-{{banner.id}}"
        (mouseover)="isHover = banner.id; startAnimation(banner)" 
        (mouseout)="isHover = false"
        [ngClass]="{'link': banner.internalUrl ||  banner.externalUrl }"
        [ngStyle]="{
          'background-image': 'url('+banner.image_url+')',
          'background-size': banner.size?.x + 'px ' + banner.size?.y + 'px',
          'background-repeat': 'no-repeat',
          'background-color': ''+banner.backgroundColor+'',
          'width': banner.size?.x + 'px ', 
          'height': + banner.size?.y + 'px',
          'font-size': banner.fontSize + 'px ',
          'color': banner.fontColor + '',
          'border-color': banner.border?.color,
          'border-style': banner.border?.style,
          'border-radius': banner.border?.radius + 'px',
          'transform': 'translateZ(104px) rotateY(' + banner.rotation?.z + 'deg)'
          }"> {{ banner.text }}    </div>
      </a>
    </div>
    
    <div class="cube" [hidden]="banner.internalUrl ||  banner.externalUrl">
      <div class="cube__face cube__face--right square {{banner.class}}" 
        id="obj-{{banner.id}}"
        (mouseover)="isHover = banner.id; startAnimation(banner)" 
        (mouseout)="isHover = false"
        [ngStyle]="{
          'background-image': 'url('+banner.image_url+')',
          'background-size': banner.size?.x + 'px ' + banner.size?.y + 'px',
          'background-repeat': 'no-repeat',
          'background-color': ''+banner.backgroundColor+'',
          'width': banner.size?.x + 'px ', 
          'height': + banner.size?.y + 'px',
          'border-color': banner.border?.color,
          'border-style': banner.border?.style,
          'border-radius': banner.border?.radius + 'px',
          'font-size': banner.fontSize + 'px ',
          'color': banner.fontColor + '',
          'transform': 'translateZ(104px) rotateY(' + banner.rotation?.z + 'deg)'
          }"> {{ banner.text }}    </div>
    </div>
    
    <span class="tooltip-label" *ngIf="banner.tooltipText && isHover === banner.id"
    [ngStyle]="{ 
    'width': banner.toolPositionWidth+ 'px',
    'left': banner.toolPositionLeft + 'px'}" 
    >{{banner.tooltipText}}</span>
    
  </div>

  <div class="div-container"  scroll-x="0" scroll-y="0">
      <div [ngStyle]="{
            'background-image': 'url(' + scene?.url_image + ')',
            'background-size': scene?.container?.w + 'px ' +scene?.container?.h+ 'px',
            'background-repeat': 'no-repeat',
			'width':scene?.container?.w + 'px', 
			'height': scene?.container?.h + 'px'
	   }" (ionScroll)="logScrolling($event)"
       *ngIf="scene && scene.url_image">
	   </div>
       <div [ngStyle]="{'width':scene?.container?.w + 'px', 'height': scene?.container?.h + 'px', 'background-color': scene?.backgroundColor}"
       *ngIf="scene && scene.backgroundColor && !scene.url_image">
	   </div>
   </div>
  
  <ion-img src="assets/icon/play_video.png" class="meetingFill" (click)="onViewerMeeting()"></ion-img> 
  
  <ion-card class="login-name" *ngIf="user">
    <ion-card-header>
       <ion-card-subtitle>Ingresar a la reunión como</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
       <ion-input type="text" [(ngModel)]="aliasName"></ion-input> 
    </ion-card-content>
  </ion-card>

  
</ion-content>

  <div class="tabs-menu">

    <ion-button color="light" (click)="onRouterLink('/app/tabs/schedule')">
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-button>

    <ion-button color="light" (click)="onRouterLink('/speakers')">
      <ion-icon slot="start" name="people-outline"></ion-icon>
      <ion-label>Conferencistas</ion-label>
    </ion-button>

    <ion-button color="light" (click)="onRouterLink('/map/fair/0')">
      <ion-icon slot="start" name="map-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-button>

    <ion-button color="light" (click)="onRouterLink('/app/tabs/about')">
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>Acerca de</ion-label>
    </ion-button> 
    
  </div>
  
