<ion-content>
  
  <ion-list class="padding-content">  
	<ion-toolbar>
	  <ion-label slot="start">Lista de invitados</ion-label>
	  <ion-buttons slot="primary">
	  <ion-button color="primary" (click)="onSave()">
		<ion-icon slot="icon-only" name="save-outline"></ion-icon>
	  </ion-button>
	  </ion-buttons>
	  <ion-buttons slot="secondary">
	    <ion-button color="secondary" (click)="onLoadInputClick()">
		   <ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
	    </ion-button>
	    <input id="uploadInput" type="file" class="d-none" (change)="readSingleFile($event)" />
	  </ion-buttons>
	</ion-toolbar>
	<ion-toolbar>
	    <ion-searchbar placeholder="Buscar..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
	</ion-toolbar>
	
	<!-- Checkboxes in a List -->
	<ion-item *ngFor="let audience of audiences ">
      <ion-label>{{audience.email }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="audience.checked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
