
<ion-content fullscreen="true">
  <ion-header translucent="true" class="ion-no-border">
    <ion-toolbar class="search">
      
      <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText" (ionChange)="transformSchedule()" (ionCancel)="showSearchbar = false" placeholder="Buscar"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-button *ngIf="!showSearchbar" (click)="showSearchbar = true">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
        <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
          <span>
            <ion-icon slot="icon-only" name="options"></ion-icon>
          </span>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-text class="padding-container"> {{textFilters}} </ion-text>
  <ion-list #scheduleList [hidden]="groups?.length === 0" class="padding-container">
    <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">
      <ion-item-divider sticky color="secondary">
        <ion-label>
          {{group.time}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let session of group.sessions" #slidingItem class="category" [hidden]="session.hide">
        <ion-item routerLink="/app/tabs/schedule/session/{{session.id}}">
          <ion-label [ngStyle]="{'border-left': '2px solid ' + session.category?.resources.color}">
            <h3>{{session.name}}</h3>
            <p translate="no">
              {{session.timeStart}} &mdash; {{session.timeEnd}}
			  <span>{{session.timezone}}</span>
            </p>
          </ion-label>
          <ion-thumbnail class="m-auto p-10px">
            <ion-img [src]="session.resources.url_image" style="width: 73px;" class="ml-1"></ion-img>
           </ion-thumbnail>
        </ion-item>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>

  <ion-list-header *ngIf="groups && groups.length === 0" class="not-found">
    No se encontraron eventos
  </ion-list-header>
  <ion-list-header [hidden]="!errors">
   <div class="alert alert-danger alert-dismissible">
     <a href="javascript:void(0)" class="close" aria-label="close" (click)="errors=null" title="close">×</a>
     <strong>Error!</strong> {{errors}}
   </div>
  </ion-list-header>
  
</ion-content>
