<ion-header no-shadow no-border class="ion-header">
  <ion-toolbar style="--background: transparent">
    <!--ion-buttons slot="end" class="mr-5">
      
      <ion-searchbar [(ngModel)]="queryText" 
        (ionChange)="transformSchedule()"  placeholder="Buscar">
      </ion-searchbar>
      
      <ion-button *ngIf="showSearchbar" (click)="showSearchbar = true"
      [ngStyle]=" { 
        'position': ( showSearchbar ? 'absolute' : '' ),
        'right': '4em',
        '--icon-color': 'transparent'
        }">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="transformSchedule()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="presentFilter()">
        <span>
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons-->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-item [hidden]="!errors">
   <div class="alert alert-danger alert-dismissible">
     <a href="javascript:void(0)" class="close" aria-label="close" (click)="errors=null" title="close">×</a>
     <strong></strong> {{errors}}
   </div>
  </ion-item> 

  <div *ngIf="showPaymentFair">
     <button class="button-price" ion-button icon-start (click)="openTemplateFair()">
     <ion-icon name="bookmark"></ion-icon>
     Paga el valor total de la Feria <strong>  {{fair?.price  | currency: 'COP $ ':'symbol':'1.0'}} </strong>
     </button>
  </div>
  
  <ion-text class="padding-container"> {{textFilters}} </ion-text>
  
  <!--ion-list #scheduleList [hidden]="groups?.length === 0" class="padding-container">
    
    <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">
      <ion-item-divider sticky color="secondary">
        <ion-label>
          {{group.time}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let session of group.sessions" #slidingItem class="category" [hidden]="session.hide">
        <ion-item routerLink="/schedule/session/{{session.id}}">
            <ion-label8 [ngStyle]="{'border-left': '2px solid ' + session.category?.resources.color}">
               <h3>{{session.name}}</h3>
               <p translate="no">
                {{session.timeStart}} &mdash; {{session.timeEnd}} <span>{{session.timezone}}</span>
               </p>
             </ion-label>
             <ion-thumbnail class="m-auto p-10px">
                <ion-img [src]="session.resources.url_image" style="width: 73px;" class="ml-1"></ion-img>
             </ion-thumbnail>
             <ion-buttons slot="end">
                <div *ngIf="session.audience_config == 4 && !session.userPaidEvent" class="button-price" ion-button icon-start (click)="openTemplateAgenda(session)">
                 <ion-icon name="bookmark"></ion-icon>
                  <Paga el valor del evento <strong> ${{session?.price}} </strong>
                </div>
                <div *ngIf="session.audience_config==3 && !userPaidAllfair" class="button-price" ion-button icon-start (click)="openTemplateFair()">
                  <ion-icon name="pricetags"></ion-icon>
                </div>
            </ion-buttons>
        </ion-item>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list-->
  
  <ion-list class="agenda-list">
     <h1 class="title">
        Agenda Virtual
     </h1>
     <ion-grid *ngIf="groups && groups.length > 0" class="not-found">
        <ion-row>
          <ion-col *ngFor="let group of groups">

            <div class="card-schedule">
                <div class="head">
                     {{ group.month }}
                </div>
                <div class="container-card">
                    <ion-buttons>
                    <div slot="start" class="" style="margin-left: 2em;">
                      <img class="border-card" src="assets/icon/border-card.png">
                      <div class="circle">
                         <div class="text">
                          {{ group.strDay }}
                         </div>
                      </div>
                    </div>
                    <div slot="end" class="container-schedule">
                       <!--ion-item button class="d-flex" *ngFor="let session of group.sessions" routerLink="/schedule/session/{{session.id}}"-->
                       <ion-item (click)="openAgenda(session)" button class="d-flex" *ngFor="let session of group.sessions">
                           <div class="hour"> 
                              {{session.hour}}
                           </div>
                           <div class="hour-unit"> 
                             <div>
                              {{session.minutes}}
                             </div>
                             <div class="signature">
                             {{session.signature}}
                             </div>
                           </div>
                           <div style="margin-top: -9px;">
                               <div class="agenda-name"> 
                                  {{session.name}}
                               </div>
                               <div class="speakers-name"> 
                                  {{session.description}}
                               </div>
                           </div>
                       </ion-item>
                         <!--ion-buttons slot="end">
                            <div *ngIf="session.audience_config == 4 && !session.userPaidEvent" class="button-price" ion-button icon-start (click)="openTemplateAgenda(session)">
                               <ion-icon name="bookmark"></ion-icon>
                            </div>
                            <div *ngIf="session.audience_config==3 && !userPaidAllfair" class="button-price" ion-button icon-start (click)="openTemplateFair()">
                              <ion-icon name="pricetags"></ion-icon>
                            </div>
                        </ion-buttons-->
                    </div>
                    </ion-buttons>
                </div>
            </div>
          </ion-col>
        </ion-row>
     </ion-grid>
  </ion-list>

  <ion-list-header *ngIf="groups && groups.length === 0" class="not-found">
    No se encontraron eventos
  </ion-list-header>

</ion-content>
