<ion-header>
  <ion-toolbar>
    <ion-title>news</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list class="Configurators">
    <ion-list-header>
          Noticias
    </ion-list-header>
    <ion-item>
       <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fferias.ganaderas1%2Fposts%2F152744254889664&width=500&show_text=true&height=324&appId" width="500" height="324" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </ion-item>
    <ion-item>
	   <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fferias.ganaderas1%2Fphotos%2Fa.455154637875879%2F455154657875877%2F&width=500&show_text=true&height=422&appId" width="500" height="422" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </ion-item>
	<ion-item>
		<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Sunsets don&#39;t get much better than this one over <a href="https://twitter.com/GrandTetonNPS?ref_src=twsrc%5Etfw">@GrandTetonNPS</a>. <a href="https://twitter.com/hashtag/nature?src=hash&amp;ref_src=twsrc%5Etfw">#nature</a> <a href="https://twitter.com/hashtag/sunset?src=hash&amp;ref_src=twsrc%5Etfw">#sunset</a> <a href="http://t.co/YuKy2rcjyU">pic.twitter.com/YuKy2rcjyU</a></p>&mdash; US Department of the Interior (@Interior) <a href="https://twitter.com/Interior/status/463440424141459456?ref_src=twsrc%5Etfw">May 5, 2014</a></blockquote>
	</ion-item>
  </ion-list>

</ion-content>
