.banner {
  position: absolute;
}

.cube {
  width: 20px;
  height: 20px;
  position: relative;
}

.cube__face {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.link.cube__face--right:hover {
  cursor: pointer;
}


