<ion-header>
</ion-header>

<ion-content 
class="asdf"
style="background-size: cover; background-repeat: no-repeat;  --background: {{ scene && scene.backgroundColor ? scene.backgroundColor  : 'none'}}"
[ngStyle]="{ 
  '--background': scene && scene.backgroundColor ? scene.backgroundColor : (scene && scene.url_image ? 'url(' + scene.url_image + ')' : ''),
  'background-position': 'center top',
  'background-repeat': 'no-repeat',
  'background-size': 'cover'
}">

  <ion-button *ngIf="(profileRole && profileRole.admin)" color="light" class="goto-back-button"
    (click)="onToBackEditor(scene)">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>

  <ion-button *ngIf="(profileRole && profileRole.admin)" color="light" class="goto-edit-button"
    (click)="onToMapEditor(scene)">
    <ion-icon name="create-outline"></ion-icon>
  </ion-button>

  <app-scene-site [hidden]="layoutModel" [editMode]="false" [windowScreenSm]="windowScreenSm"
    [windowScreenLg]="windowScreenLg" [scene]="sceneEdited" [level]="1" [router]="routerView">
  </app-scene-site>

</ion-content>