<ion-header class="mt-5">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/super-admin/pavilion/{{pavilion?.id}}"></ion-back-button>
    </ion-buttons>
	<ion-buttons slot="end" *ngIf="stand?.id">
	  <ion-button color="danger" (click)="deleteStand()">
		<ion-icon slot="start" name="trash-outline"></ion-icon>
		Borrar
	  </ion-button>
	</ion-buttons>
	<ion-title>Administrar Local comercial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-list-header [hidden]="!errors">
    <div class="alert alert-danger fade show alert-dismissible">
     <a href="javascript:void(0)" class="close" aria-label="close" (click)="errors=null" title="close">×</a>
     <strong>Error!</strong> {{errors}}
    </div>
  </ion-list-header>

  
  <!--form #submitForm="ngForm" novalidate (ngSubmit)="submit(submitForm)" class="padding-container"-->
    <ion-list lines="" *ngIf="stand" class="padding-container">
      
      <ion-item lines="none"  *ngIf="stand.id" [ngClass]="{'mt-4': stand.id}">
          <ion-label style="max-width: 75px;" slot="start">Escenas</ion-label>
           <div class="d-flex ml-auto" style="overflow-x: scroll;">
              <ion-item style=" min-width: 163px; " *ngFor="let scene of stand?.resources.scenes;let i = index" class="scene-icon-mini" 
                 button="true" routerLink="/super-admin/map-editor/stand/{{pavilion?.id}}/{{stand?.id}}/{{i}}" routerLinkActive="active" routerDirection="root" detail="false">
               <img *ngIf="scene && scene.url_image" [src]="scene.url_image" class="ml-auto mr-auto mt-2 mb-2" alt="escena" style="width: 77px;">
               <h2 [hidden]="scene && scene.url_image" style="width: 82px; height: 41px;"><small>{{scene.title}}</small></h2>
              </ion-item>
            </div>

         <ion-buttons slot="end">
            <ion-button (click)="onAddEscene()">
              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
         </ion-buttons>
       </ion-item>
       
      <ion-item button="true" class="mt-3" (click)="presentActionMerchant()">
        <ion-label> Comercio asociado </ion-label>
        <div class="d-flex" *ngIf="merchant">
            <ion-avatar class="mr-3 p-2">
              <img [src]="merchant?.resources?.url_image">
            </ion-avatar>
            <ion-label>
              <h2>{{merchant?.nick}}</h2>
              <h3>{{merchant?.name}}</h3>
            </ion-label>
        </div>
      </ion-item>
     
     <div class="ion-padding mt-2">
      <ion-button size="small" [disabled]="!editSave" (click)="updateStand()">
        <ion-label > Guardar </ion-label>
        <ion-icon slot="end" name="save-outline"></ion-icon>
      </ion-button>
      <ion-button size="small" color="success" 
                  routerLink="/super-admin/merchant" routerLinkActive="active" routerDirection="root" detail="false">
        <ion-label > Nuevo Comercio </ion-label>
        <ion-icon slot="end" name="add-outline"></ion-icon>
      </ion-button>
    </div>
    
    </ion-list>


  <!--/form-->

</ion-content>
