<ion-header class="mt-5">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/super-admin/pavilion/{{pavilion?.id}}"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="stand?.id">
      <ion-button color="danger" (click)="deleteStand()">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Borrar
      </ion-button>
    </ion-buttons>
    <ion-title>Administrar Local comercial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-list-header [hidden]="!errors">
    <div class="alert alert-danger fade show alert-dismissible">
     <a href="javascript:void(0)" class="close" aria-label="close" (click)="errors=null" title="close">×</a>
     <strong></strong> {{errors}}
    </div>
  </ion-list-header>

  <ion-list-header [hidden]="!success">
    <div class="alert alert-success fade show alert-dismissible">
      <a href="javascript:void(0)" class="close" aria-label="close" (click)="success=null" title="close">×</a>
      <strong></strong> {{success}}
    </div>
  </ion-list-header>

  <!--form #submitForm="ngForm" novalidate (ngSubmit)="submit(submitForm)" class="padding-container"-->
    <ion-list lines="" *ngIf="stand" class="padding-container">

      <ion-item lines="none"  *ngIf="stand.id" [ngClass]="{'mt-4': stand.id}">
          <ion-label style="max-width: 75px;" slot="start">Escenas</ion-label>
           <div class="d-flex ml-auto scroll-container" style="overflow-x: scroll;">
              <ion-item style=" min-width: 163px; " *ngFor="let scene of stand?.resources.scenes;let i = index" class="scene-icon-mini"
                 button="true" routerLink="/super-admin/map-editor/stand/{{pavilion?.id}}/{{stand?.id}}/{{i}}" routerLinkActive="active" routerDirection="root" detail="false">
               <img *ngIf="scene && scene.url_image" [src]="scene.url_image" class="ml-auto mr-auto mt-2 mb-2" alt="escena" style="width: 77px;">
               <h2 [hidden]="scene && scene.url_image" style="width: 82px; height: 41px;"><small>{{scene.title}}</small></h2>
              </ion-item>
            </div>

         <ion-buttons slot="end">
            <ion-button routerLink="/super-admin/map-editor/stand/{{pavilion.id}}/{{stand.id}}" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
         </ion-buttons>
       </ion-item>

      <ion-item button="true" class="mt-3" (click)="presentActionMerchant()">
        <ion-label> Comercio asociado </ion-label>
        <div class="d-flex" *ngIf="merchant">
            <ion-avatar class="mr-3 p-2">
              <img [src]="merchant?.resources?.url_image">
            </ion-avatar>
            <ion-label>
              <h2>{{merchant?.nick}}</h2>
              <h3>{{merchant?.name}}</h3>
            </ion-label>
        </div>
      </ion-item>
     <div class="ion-padding mt-2">
      <ion-button size="small" [disabled]="!editSave" (click)="updateStand()">
        <ion-label > Guardar </ion-label>
        <ion-icon slot="end" name="save-outline"></ion-icon>
      </ion-button>
      <ion-button size="small" color="success"
                  routerLink="/super-admin/merchant" routerLinkActive="active" routerDirection="root" detail="false">
        <ion-label > Nuevo Comercio </ion-label>
        <ion-icon slot="end" name="add-outline"></ion-icon>
      </ion-button>
       <ion-button size="small" color="warning"
                   routerLink="/super-admin/merchant/update/{{merchant.id}}" routerLinkActive="active" routerDirection="root" detail="false" *ngIf="merchant">
         <ion-label > Editar Comercio </ion-label>
         <ion-icon slot="end" name="add-outline"></ion-icon>
       </ion-button>
    </div>

    <ion-item>
      <ion-buttons slot="end">
        <ion-button color="primary" slot="end" routerLink="/super-admin/product/{{pavilion.id}}/{{stand.id}}" routerLinkActive="active" routerDirection="root" detail="false">
          Nuevo producto
          <ion-icon slot="end" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
      
      <div *ngIf="productCatalogList">
        <div *ngFor="let group of productCatalogList">
          <ion-list-header>
             Catálogo de {{ group.name }}
          </ion-list-header>

          <ion-item lines="none" class="mt-3">
            <ion-grid>
              <ion-row>
                <ion-col *ngFor="let prod of group.products" class="cursor-pointer product-box">
                <ion-toolbar button="true" routerLink="/super-admin/product/{{pavilion.id}}/{{stand.id}}/{{prod.id}}" routerLinkActive="active" routerDirection="root" detail="false">
                  <ion-avatar slot="start">
                    <ion-img [src]="prod.url_image"></ion-img>

                  </ion-avatar>
                  <ion-label class="ml-2">
                    <h2>{{prod?.name}}</h2>
                    <h6>{{prod?.description}}</h6>
                    <div class="attributes d-flex mt-2">
                       <div *ngFor="let price of prod?.prices">
                        <div  *ngIf="price.resources && price.resources.attributes && price.resources.attributes[0]" class="color-attributte ml-3" 
                        [ngStyle]="{'background-color': price.resources.attributes[0].value}">
                        </div>
                       </div>
                    </div>
                  </ion-label>
                </ion-toolbar>
                </ion-col>
              </ion-row>
            </ion-grid>
         </ion-item>
        </div>
      </div>
    </ion-list>


  <!--/form-->

</ion-content>
