.signup-logo {
  padding: 71px 0px 22px 0px;
  min-height: 128px;
  text-align: center;
}

.signup-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}


.font-18px {
  font-size: 21px;
}

ion-item.item-has-focus > ion-label{
  color:  var(--color) !important;
}

ion-input {
  font-size: 14px;
}

.border-item {
   border-bottom: 1px solid gray;
}

ion-label {
  height: 50px;
}


.white-space {
    white-space: initial;
    line-height: 13px;
}

.terms-modal {
  position: absolute;
  bottom: 0px;
}

.label-modal {
  padding-top: 17px;
}

@media (max-width: 541px) {
  .label-modal {
    padding-top: 9px;
  }
}


.required {
  color: var(--ion-color-danger);
}


.modal-wrapper {
  max-width: 300px;
}

.acceptTerms {
  position: absolute;
  top: -21px;
  left: 23px;
}

.acceptTerms-btn {
  --border-color: none; 
  --border-width: 0px !important;
  margin-top: -29px;
}

.acceptMsg {
  margin-top: 27px;
}