
:root {
 --blues: #001835;
}

$blue: #001835;
$green: #79CE42;
$width: 600px;
$height: 257px;
$col_1: 0.65;
$col_2: 0.35;

.card-spaker {
  background-color: #{$blue};
}

.content {
  width: calc( #{$width} * #{$col_1} );
}

.div-avatar {
  width: calc( #{$width} * #{$col_2} );
  height: calc( #{$height} - 7px );
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.text {
  color: #{$green};
  text-align: center;
}

.icon-circle {
  width: 10em;
  margin-top: 2em;
  height: auto;
}

.icon-rectangle {
  width: 10em;
  margin-top: 2em;
  height: auto;
}


:root {
  --border-radius: 29px;
}

.agenda {
 position: absolute;
 top: 23.1em;
 right: 0;
 min-width: 50%;
 margin: 17px;
 box-shadow: #b0b0b0 -2px 2px 3px 1px;
 .container {
   overflow: auto;
   height: 188px;
   .date {
      margin: 3px!important;
      color: #{$green};
    }
    .title {
      color: #{$blue};
    }
  }
}


.panel-agenda {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  min-height: 206px;
  .title {
    color: #006BCC;
    text-align: center;
  }
  .item {
    border-bottom: 2px solid #001835;
    text-align: center;
    margin: 13px 0px;
  }
}

.panel-border {
  border-top: 20px solid #001835;
  border-style: dotted;
  position: absolute;
  top: -16px;
  width: 100%;
  transform: rotate(180deg);
}

.stretch-1 {
  top: calc( #{$height} - 7px );
  position: absolute;
  width: 45%;
  padding: 16px;
  text-align: justify;
  font-size: 1.2em;
}

.stretch-2 {
  position: absolute;
  top: calc( #{$height} + ( #{$height} / 3 ) - 14px );
  width: 45%;
  padding: 16px;
  text-align: justify;
}

.stretch-3 {
  position: absolute;
  width: 100%;
  padding: 16px;
  text-align: justify;
  bottom: -11px;
}

