<ion-grid class="card w-100 m-o p-0 scroll-light">
  <div (click)="closeModal()" class="close-modal">
    <ion-icon name="close-outline" slot="icon-only"></ion-icon>
  </div>
  <ion-row class="m-0 p-0 card-spaker head">
    <ion-col class="m-0 p-0" size="4">
        <img [src]="speaker.profile_picture" class="image-profile">

    </ion-col>
    <ion-col class="m-0 p-0" size="8">
      <div class="content">
        <h2 class="name text">{{speaker.user.name}} {{speaker.user.last_name}}</h2>
        <h5 class="text">{{speaker.profession}}</h5>
        <div class="ion-text-center">
          <!--img class="icon-circle" [ngStyle]="{ 'margin-top': ( screenSm ? '0' : '2em'), 'margin-bottom': ( screenSm ? '2em' : '0') }" [src]="speaker.company_logo"/-->
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="m-0 p-0">
    <ion-col class="m-0 p-0" size="6">
      <ion-item class="stretch-1" [hidden]="stretchMore" [ngStyle]="{'height': screenSm ? '18em' : '13em'}">
        {{speaker.description_one}} 
      </ion-item>
      <ion-item class="stretch-1 scroll-light stretch-more" *ngIf="stretchMore"  [ngStyle]="{'height': screenSm ? '18em' : '13em'}">
        {{speaker.description_one}} 
      </ion-item>
    </ion-col>
    <div [hidden]="stretchMore" class="show-stretch-more cursor-pointer position-absolute"
      (click)="stretchMore = true;">
      Ver más
    </div>
    <ion-col>
      <div class="agenda">
        <ion-list class="panel-agenda">
          <div class="panel-border"></div>
          <h4 class="title">Agenda</h4>
          <div class="container scroll-light">
            <ion-item button class="item" *ngFor="let agenda of speaker.agenda" (click)="redirectTo('/agenda/'+agenda.id)">
            <div class="w-100">
              <h5 class="title m-0 ion-text-left"> {{agenda.title}}</h5>
              <h6 class="date ion-text-left"> {{agenda.str_start_time}}</h6>
              <h6 class="date ion-text-left"> {{agenda.startHour }} {{agenda.endTime}}</h6>
            </div>
            </ion-item>
          </div>  
        </ion-list>
      </div>
    </ion-col>

  </ion-row>
</ion-grid>