
:root {
 --blues: #FFA439;
}

//$blue: #FFA439;
$blue: #FFA439;
$green: #4C2505;
$width: 600px;
$height: 257px;
$col_1: 0.65;
$col_2: 0.35;

.card-spaker {
  background-color: #{$blue};
}

.content {
  width: calc( #{$width} * #{$col_1} );
}

.div-avatar {
  width: calc( #{$width} * #{$col_2} );
  height: calc( #{$height} - 7px );
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.text {
  color: #{$green};
  text-align: center;
}

.icon-circle {
  width: 10em;
  margin-top: 2em;
  height: auto;
}

.icon-rectangle {
  width: 10em;
  margin-top: 2em;
  height: auto;
}


.agenda {
 position: absolute;
 right: 0;
 min-width: 50%;
 box-shadow: #b0b0b0 -2px 4px 3px 1px;
 .container {
   overflow: auto;
   height: 188px;
   .date {
      margin: 3px!important;
      color: #{$green};
    }
    .title {
      color: #{$blue};
    }
  }
}


.panel-agenda {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  min-height: 206px;
  .title {
    color: #{$green};
    text-align: center;
  }
  .item {
    border-bottom: 2px solid #FFA439;
    text-align: center;
    margin: 13px 0px;
  }
}

.panel-border {
  border-top: 20px solid #FFA439;
  border-style: dotted;
  position: absolute;
  top: -16px;
  width: 100%;
  transform: rotate(180deg);
}

.stretch-1.vertical {
  top: calc( #{$height} - 7px );
  position: absolute;
  width: 50%;
  padding: 1em;
  text-align: justify;
  font-size: 1.2em;
} 
.stretch-more {
  overflow: auto;
  height: 20em;
}

.show-stretch-more {
  width: 14em;
  height: 4em;
  background-color: gray;
  opacity: 0.8;
  text-align: center;
  padding-top: 1.2em;
  color: black;
  font-weight: bold;
  margin: auto;
  bottom: 1em;
  left: 7em;
}


.stretch-1.horizontal {
  padding: 2em;
  font-size: 2em;
  height: 10em;
  overflow: auto;
  text-align: justify;
}


.agenda.horizontal {
  position: relative;
    width: 90%;
    right: 1.6em;
    text-align: center;
    margin: auto;
}

.agenda.vertical {
  width: 25em;
  top: 25em;
  margin-right: 5em;
}

.content-horizontal {
  height: 46em;
  overflow: auto;
}


.close-modal {
  cursor: pointer; 
  position: absolute;
  right: 0.7em;
  top: 0;
  font-size: 2.5em;
  color: darkgray;
  z-index: 100;
}

.screenSm {
  height: 48em;
  overflow: auto;
}