<div class="card-spaker d-flex">
  <div class="div-avatar" [ngStyle]="{ 'background-image': 'url('+speaker.profile_picture+')'}"></div>
  <div class="content">
    <h2 class="name text">{{speaker.user.name}} {{speaker.user.last_name}}</h2>
    <h5 class="text">{{speaker.position}}</h5>
    <div class="ion-text-center">
      <img class="ico" [src]="speaker.company_logo"/>
    </div> 
  </div>  
       
  <div class="agenda"> 
    <ion-list class="panel-agenda">
      <div class="panel-border"></div>
      <h4 class="title">Agenda</h4>
      <div class="container scroll-light">
        <div class="item" *ngFor="let agenda of speaker.agenda">
          <h5 class="title m-0"> {{agenda.title}}</h5>
          <h6 class="date"> {{agenda.str_start_time}}</h6>
        </div>
       </div>        
    </ion-list>
  </div>
</div>
<div class="stretch-1">
  {{speaker.description_one}}
</div>
<div class="stretch-2">
  {{speaker.description_two}}
</div>
<div class="stretch-3">
   {{speaker.description_one}}
</div>
