.card {
  height: 51em;
  overflow: auto;
}

.image-profile {
 min-height: 24em;
}

.stretch-1 {
  padding-top: 1em;
  height: 13em;
  overflow: hidden;
  width: 99%;
}

@media screen and (max-width: 460px){
  .stretch-1 {
    height: 65%;
  }
}

.stretch-1.stretch-more {
  overflow: auto !important;
  height: 15em;
}

.head {
margin-left: -4px !important;
margin-top: -1px !important;
}

.title {
  color: #4C2505;
}

:root {
 --blues: #FFA439;
 
}

//$blue: #FFA439;
$blue: #FFA439;
$green: #4C2505;
$width: 600px;
$height: 257px;
$col_1: 0.65;
$col_2: 0.35;

.card-spaker {
  background-color: #{$blue};
}

.content {
  /*width: calc( #{$width} * #{$col_1} );*/
  margin-top: 4em;
}

.div-avatar {
  width: calc( #{$width} * #{$col_2} );
  height: calc( #{$height} - 7px );
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.text {
  color: #{$green};
  text-align: center;
}

.icon-circle {
  width: 10em;
  margin-top: 2em;
  height: auto;
}

.icon-rectangle {
  width: 10em;
  margin-top: 2em;
  height: auto;
}


.agenda {
 position: absolute;
 right: 0;
 width: 100%;
 margin-top: -0.5em;
 box-shadow: #b0b0b0 -2px 4px 3px 1px;
 .container {
   overflow: auto;
   height: 188px;
   .date {
      margin: 3px!important;
      color: #{$green};
    }
    .title {
      color: #{$blue};
    }
  }
}


.panel-agenda {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  min-height: 206px;
  .title {
    color: #{$green};
    text-align: center;
  }
  .item {
    border-bottom: 2px solid #FFA439;
    text-align: center;
    margin: 13px 0px;
  }
}

.panel-border {
  border-top: 20px solid #FFA439;
  border-style: dotted;
  position: absolute;
  top: -16px;
  width: 100%;
  transform: rotate(180deg);
}

 



.show-stretch-more {
  width: 14em;
  height: 4em;
  background-color: gray;
  opacity: 0.8;
  text-align: center;
  padding-top: 1.2em;
  color: black;
  font-weight: bold;
  margin: auto;
  bottom: 1em;
  left: 7em;
}


 

.agenda.horizontal {
  position: relative;
    width: 90%;
    right: 1.6em;
    text-align: center;
    margin: auto;
}

.agenda.vertical {
  width: 25em;
  top: 25em;
  margin-right: 5em;
}

.content-horizontal {
  height: 46em;
  overflow: auto;
}


.close-modal {
  cursor: pointer;
  position: absolute;
  right: 0.7em;
  top: 0;
  font-size: 3.5em;
  color: #4c2505;
  z-index: 100;
}

.screenSm {
  height: 48em;
  overflow: auto;
}