<ion-header class="mt-5">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/super-admin/product/{{pavilion?.id}}/{{stand?.id}}/{{product?.id}}"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="productPrice?.id">
      <ion-button color="danger" (click)="deleteProductPrice()">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Borrar
      </ion-button>
    </ion-buttons>
    <ion-title>Administrar Precio del producto </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

    <ion-list *ngIf="productPrice" class="padding-container">
    
       <ion-item lines="true" [ngClass]="{'mt-4': productPrice.id}">
          <ion-label style="max-width: 75px;" slot="start">Imágenes</ion-label>
           <div class="d-flex ml-auto scroll-light" style="overflow-x: scroll;">
              <ion-item *ngFor="let image of productPrice?.resources?.images;let i = index" class="scene-icon-mini">
               <img *ngIf="image.url_image" [src]="image.url_image" class="ml-auto mr-auto mt-2 mb-2" alt="escena" style="width: 77px;">
              </ion-item>    
            </div>

         <ion-buttons slot="end">
            <ion-button  (click)="presentModifyImage(productPrice.resources,'images')">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
         </ion-buttons>
       </ion-item>
       
      <ion-item button="true" [ngStyle]="{ 'opacity' : ( !productPrice.resources.mainPrice ? '0.5' : '1' ) }">
       <ion-label> Precio base del producto </ion-label>
        <ion-buttons>
          <ion-chip [color]="productPrice.resources && productPrice.resources.mainPrice ? 'primary' : ''" (click)="changeMainPrice()">
             <ion-icon name="checkmark-circle"></ion-icon>
             <ion-label> {{product?.price  | currency: '$ ':'symbol':'1.0-0'}}</ion-label>
          </ion-chip>
        </ion-buttons>
      </ion-item>
       
      <ion-item button="true" (click)="presentActionPrice()" [disabled]="productPrice.resources.mainPrice">
       <ion-label> Precio por referencia </ion-label>
       <ion-buttons>
          <ion-label slot="end" [hidden]="productPrice.resources.mainPrice"> {{productPrice.price  | currency: '$ ':'symbol':'1.0-0'}}</ion-label>
        </ion-buttons>
      </ion-item>

      <div class="container-attr mb-4" *ngIf="productPrice.id && productPrice.resources && productPrice.resources.attributes">
          <ion-item lines="none" *ngIf="productPrice.id" [ngClass]="{'mt-4': productPrice.id}">
             <ion-label class="ion-text-wrap" slot="start">Atributos Físicos</ion-label>
             <ion-buttons slot="end">
                <ion-button (click)="newAttr={'name':'','value':''}">
                  <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>
             </ion-buttons>
          </ion-item>
          
          <!-- attribute Color-->
           <ion-item>
            <ion-label>  
                Color
            </ion-label>
            <div (click)="openColors();" class="d-flex color-small">
              <span class="mr-4" >{{attrColor?.label}}</span>
              <div *ngIf="attrColor?.value" class="label-color-small" 
               [ngStyle]="{'background-color':attrColor?.value}">
              </div>
              <div [hidden]="attrColor?.value" class="label-color-small" 
               [ngStyle]="{'background-color': transparent}">
              </div>
            </div>
              <ion-button class="ml-4" (click)="clearColor()">
                Limpiar
              </ion-button>
          </ion-item>
          
          <!-- attribute list-->
            <div *ngFor="let attr of attributes; let i = index;">
            <ion-item *ngIf="i >= 1" >
              <ion-label *ngIf="indexEditAttr==null || indexEditAttr !== i"> {{ attr.name }} </ion-label>
              <ion-label *ngIf="indexEditAttr==null || indexEditAttr !== i"> {{ attr.value }} </ion-label>
              <ion-grid *ngIf="indexEditAttr == i">
                <ion-row>
                  <ion-col size="5">
                    <input class="attribute-key fs-1" [(ngModel)]="attr.name">
                  </ion-col>
                  <ion-col size="5">
                    <input class="attribute-value fs-1" [(ngModel)]="attr.value">        
                  </ion-col>
                  <ion-col size="2">
                    <ion-button (click)="modifyAttr(i)">
                    Modificar
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-buttons side="end">
                <ion-button color="danger" (click)="deleteAttr(i)">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
                <ion-button  (click)="showModifyAttr(i)">
                  <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
            </div>
            
          <!-- end attribute list-->
          
          <ion-grid class="attribute" button="true" *ngIf="newAttr">
            <ion-row>
              <ion-col size="5">
                <input class="attribute-key" [(ngModel)]="newAttr.name">
              </ion-col>
              <ion-col size="5">
                <input class="attribute-value" [(ngModel)]="newAttr.value">        
              </ion-col>
              <ion-col size="2">
                <ion-button (click)="addAttribute()">
                Agregar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
      </div>


      
      <ion-item [hidden]="!errors">
        <div class="alert alert-danger m-auto">
         <a href="javascript:void(0)" class="close" (click)="errors=null" title="close">×</a>
         <strong></strong> {{errors}}
        </div>
      </ion-item>

      <ion-item [hidden]="!success">
        <div class="alert alert-success m-auto">
         <a href="javascript:void(0)" class="close" (click)="success=null" title="close">×</a>
         <strong></strong> {{success}}
        </div>
      </ion-item>
      
      <ion-button class="mt-4" expand="block" [disabled]="!editSave" (click)="updateProductPrice()">
        {{this.product.id? 'Guardar cambios':'Crear Producto'}}
        <ion-icon slot="start" name="save"></ion-icon>
      </ion-button>
    
    </ion-list>

  <!--/form-->
  <div *ngIf="showColor" class="panel-color">
  <ion-backdrop class="block-window sc-ion-loading-md md backdrop-no-tappable hydrated" tabindex="-1" style=""></ion-backdrop>
    <ion-card class="card-color">
      <ion-card-header>
        <ion-buttons>
          <ion-card-subtitle  slot="start" >Selecciona la referencia del color</ion-card-subtitle>
          <ion-button slot="end" (click)="showColor=false;" class="position-absolute r-0">
            Cerrar <ion-icon slot="end" name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let color of colorList" class="label-color" [ngStyle]="{'background-color':color.value}"
            (click)="setColor(color)">
               <span class=" position-absolute" style="top: 47px;">{{color.name}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
