.fair-logo {
  padding: 34px 10% 0 10%;
}

.fair-logo img {
  max-width: 150px;
}

ion-item {
  --background-hover: var(--primary);
}

.icon {
  max-width: 78px;
}


.pavilion-button {
    border: 1px solid;
    margin-left: 10px;
    border-radius: 21px;
    border-color: var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
    --border-color: var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
    margin-top: 11px;
}

.pavilion-button-add {
  max-height: 81%;
  border-radius: 21px;
}

.cursor-pointer {
  cursor: pointer;
}

.full-screen-button {
  position: absolute;
  top: 0;
  z-index: 11;
}

.scene-icon-mini {
  min-width: 100px; 
  width: 5em;
  height: 3em;
}

.scene-icon-pavilion {
  min-width: 219px;
  width: 100px;
}

.label-icon {
    margin-top: 7px;
    margin-left: -8px;
}

/* width */
.scroll-container::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.scroll-container::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.scene-icon-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 7em;
}

.scene-select {
  text-align: center;
  cursor: pointer;
}

.scene-select:hover {
  border: 1px solid gray;
  border-radius: 1em;
}