.fair-logo {
  padding: 34px 10% 0 10%;
}

.fair-logo img {
  max-width: 150px;
}

ion-item {
  --background-hover: var(--primary);
}

.icon {
  max-width: 100px;
}


.pavilion-button {
    border: 1px solid;
    margin-left: 10px;
    border-radius: 21px;
    border-color: var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
    --border-color: var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
	margin-top: 11px;
}

.pavilion-button-add {
  max-height: 81%;
  border-radius: 21px;
}

.cursor-pointer {
  cursor: pointer;
}

.full-screen-button {
  position: absolute;
  top: 0;
  z-index: 11;
}

.scene-icon-mini {
  min-width: 100px;
  width: 100px;
}

.scene-icon-pavilion {
  min-width: 219px;
  width: 100px;
}