<ion-list class="padding-container mt-5">
  <ion-item button="true">
    <ion-label> Nombre </ion-label>
    <ion-input class="ml-auto" class="text-right" [(ngModel)]="speaker.name" name="name"></ion-input>
  </ion-item>
  <ion-item button="true">
    <ion-label> Apellido </ion-label>
    <ion-input class="ml-auto" class="text-right" [(ngModel)]="speaker.last_name" name="last_name"></ion-input>
  </ion-item>
  <ion-item button="true">
    <ion-label> Imagen de perfil </ion-label>
    <ion-input class="ml-auto" class="text-right" [(ngModel)]="speaker.profile_picture" name="profile_picture">
    </ion-input>
  </ion-item>
  <ion-item button="true">
    <ion-label> Logo de empresa </ion-label>
    <ion-input class="ml-auto" class="text-right" [(ngModel)]="speaker.company_logo" name="company_logo"></ion-input>
  </ion-item>
  <ion-item button="true" [ngClass]="{'mt-4': 1}">
    <ion-label> Descripción 1</ion-label>
    <ion-input class="ml-auto" class="text-right" [(ngModel)]="speaker.description_one" name="description_one">
    </ion-input>
  </ion-item>
  <ion-item button="true">
    <ion-label> Cargo/Rol </ion-label>
    <select [(ngModel)]="speaker.position">
      <option *ngFor="let type of speakerTypeList" value="{{type.label}}">{{type.label}}</option>
    </select>
  </ion-item>
  <ion-item button="true">
    <ion-label> Profesión </ion-label>
    <ion-input class="ml-auto" class="text-right" [(ngModel)]="speaker.profession" name="position"></ion-input>
  </ion-item>
  <ion-item button="true">
    <ion-label> Correo electrónico </ion-label>
    <ion-input class="ml-auto" class="text-right" [(ngModel)]="speaker.email" name="email"></ion-input>
  </ion-item>

  <div class="ion-padding mt-2">
    <ion-button size="small" (click)="new()" [hidden]="speaker.id">
      <ion-label> Guardar </ion-label>
      <ion-icon slot="end" name="save-outline"></ion-icon>
    </ion-button>
    <ion-button color="warning" size="small" (click)="update()" *ngIf="speaker.id">
      <ion-label> Editar </ion-label>
      <ion-icon slot="end" name="pencil-outline"></ion-icon>
    </ion-button>

    <ion-button color="light" size="small" (click)="close()">
      <ion-label> Cancelar </ion-label>
    </ion-button>
  </div>
</ion-list>