.agenda-mini {
  height: 100px;
  margin: 5px;
  width: 100px;
  max-width: 100px;
}

.agenda-mini ion-img{
  height: 100px;
  margin: 5px;
  width: 100px;
}

.container-height {
  height: 403px;
  overflow: auto;
}