
<ion-content fullscreen="true">
  <div class="padding-container">
  <ion-header no-border class="mt-md-5">
    
   <ion-item [hidden]="!errors">
      <div class="alert alert-danger alert-dismissible">
         <a href="javascript:void(0)" class="close" aria-label="close" (click)="errors=null" title="close">×</a>
         <strong></strong> {{errors}}
      </div>
   </ion-item>
  </ion-header>
  


  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let fair of fairList" 
	[ngClass]=" { 'show-fair': fair.location == 'true' || fair.location == 'true' , 
	              'hide-fair' : fair.location == 'false' || fair.location == false }">
      <img [src]="fair?.social_media?.icon" class="slide-image"  style="width: 7em;"/>
	  <h2 class="slide-title">
        <b>{{fair?.name}}</b>
      </h2>
      <h6 class="slide-title">
        Desde el {{fair?.init_date}} hasta el {{fair?.end_date}}
      </h6>
      <p>
        {{fair?.description}}
      </p>
      <ion-button fill="clear" (click)="startApp(fair)">
        Ir a la Feria
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
	  
      <div class="delete-btn" >
	  <ion-button fill="clear" (click)="onDeleteFair(fair)" color="danger" class="mt-3">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
		Borrar
      </ion-button>
      
      <ion-item lines="none">
        <ion-label>Mostrar/ocultar</ion-label>
        <ion-toggle (click)="toogleShowFair(fair)" [(ngModel)]="fair.location" name="mostrar" checked></ion-toggle>
      </ion-item>
	  </div>
	  	  
    </ion-slide>


    <ion-slide [hidden]="showNewFair">	
      <img src="assets/img/ica-slidebox-img-4.png" class="slide-image" style="width: 7em;"/>
      <h2 class="slide-title">Crear nueva feria?</h2>
      <ion-button fill="clear" (click)="showNewFair=true">
        Crear
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>
	
    <ion-slide *ngIf="showNewFair">
         <h5>Nombre de nueva Feria</h5>
         <input type="text" [(ngModel)]="fair.name" name="nombre" >
         <br>
		 <h5>Descripción</h5>
         <input type="text" [(ngModel)]="fair.description" name="description" >
         <br>
		 <h5>Icono</h5>
         <input type="text" [(ngModel)]="fair.social_media.icon" name="icon" >
		 <br>
		 <h5>Fecha de inicio</h5>
         <input type="text" [(ngModel)]="fair.init_date" name="init_date" >
		 <br>
		 <h5>Fecha fin</h5>
         <input type="text" [(ngModel)]="fair.end_date" name="end_date" >
		 <br>
          <ion-button fill="clear" (click)="startNewFair()">
            Crear
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
		  
    </ion-slide>
  </ion-slides>
  </div>
</ion-content>
