ion-toolbar {
  --background: transparent;
  --border-color: transparent;
}

.swiper-slide {
  display: block;
}

.slide-title {
  margin-top: 2.8rem;
}

.slide-image {
  margin: 36px 0;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);

  b {
    color: var(--ion-text-color, #000000);
  }
}


.delete-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
}


ion-toggle {
  --handle-background-checked: #fff url(/assets/power-icon.png) no-repeat center / contain;
}


.show-fair {
  padding: 0em;
  border-radius: 1em;
}

.hide-fair {
  border: 1px solid #F8F8F8;
  padding: 0em;
  border-radius: 1em;
  opacity: 0.3;
}


ion-slides {
  height: 48em;
}