$width: 381px;
$delta-height: 12px;
$blue-light-color: #F5F6FF;
$blue-color: #004782;

:root {
  --width: 381px;
  --height: 24em;
}

.grid {
   margin: 18px;
   .card {
      position: absolute;
      width: var(--width);
      height: var(--height);
      
      border-radius: 19px;
   }
}


.name {
  color: #{$blue-color};
  font-size: 21px;
  text-align: center;
}

.carousel {

}

.description {
  font-size: 10px;
  text-align: justify;
  overflow: hidden;
  height: 11.6em;
  small {
    color: black;
  }
}

.button-show {
   width: 102px;
   height: 25px;
   bottom: 10px;
   right: 15%;
   position: absolute;
}

.price {
  margin-left: 192px;
}

.grid .card.item-1,    
.grid .card.item-4,
.grid .card.item-7,
.grid .card.item-10,
.grid .card.item-13,
.grid .card.item-16,
.grid .card.item-19,
.grid .card.item-22,
.grid .card.item-25,
.grid .card.item-28,
.grid .card.item-31,
 {
  left: 0;
}

.grid .card.item-2,
.grid .card.item-5,
.grid .card.item-8,
.grid .card.item-11,
.grid .card.item-14,
.grid .card.item-17,
.grid .card.item-20,
.grid .card.item-23,
.grid .card.item-26,
.grid .card.item-29,
 {
  left: calc( var(--width) + 10px);
}

.grid .card.item-3,
.grid .card.item-6,
.grid .card.item-9,
.grid .card.item-12,
.grid .card.item-15,
.grid .card.item-18,
.grid .card.item-21,
.grid .card.item-24,
.grid .card.item-27,
.grid .card.item-30,
 {
  left: calc( ( var(--width) ) * 2 + 20px);
}

.grid .card.item-4,
.grid .card.item-5,
.grid .card.item-6
{
  top: calc( var(--height) + #{$delta-height} );
}

.grid .card.item-7,
.grid .card.item-8,
.grid .card.item-9
{
  top: calc( ( var(--height) + #{$delta-height} ) * 2 );
}

.grid .card.item-10,
.grid .card.item-11,
.grid .card.item-12
{
  top: calc( var(--height) * 3 + ( #{$delta-height} * 3 ) );
}


.grid .card.item-13,
.grid .card.item-14,
.grid .card.item-15
{
  top: calc( var(--height) * 4 + ( #{$delta-height} * 4 ) );
}

.grid .card.item-16,
.grid .card.item-17,
.grid .card.item-18
{
  top: calc( var(--height) * 5 + ( #{$delta-height} * 5 ) );
}

.grid .card.item-19,
.grid .card.item-20,
.grid .card.item-21
{
  top: calc( var(--height) * 6 + ( #{$delta-height} * 6 ) );
}

.grid .card.item-22,
.grid .card.item-23,
.grid .card.item-24
{
  top: calc( var(--height) * 7 + ( #{$delta-height} * 7 ) );
}

.grid .card.item-25,
.grid .card.item-26,
.grid .card.item-27
{
  top: calc( var(--height) * 8 + ( #{$delta-height} * 8 ) );
}

.grid .card.item-28,
.grid .card.item-29,
.grid .card.item-30
{
  top: calc( var(--height) * 9 + ( #{$delta-height} * 9 ) );
}


.attribute {
  padding:1em;
  .header {
     background-color: grey;
  }
  .value {
     background-color: blue;
  }
}