<!--Scene Background Image-->
<div class="div-container"  >
  <div [ngStyle]="{
  'background-image': 'url(' + scene?.url_image + ')',
  'background-size': scene?.container?.w + 'px ' +scene?.container?.h+ 'px',
  'background-repeat': 'no-repeat',
  'width':scene?.container?.w + 'px', 
  'height': scene?.container?.h + 'px'
  }" (ionScroll)="logScrolling($event)"
  *ngIf="scene && scene.url_image">
 </div>
<!--Scene Background Color-->
<div [ngStyle]="{'width':scene?.container?.w + 'px', 'height': scene?.container?.h + 'px', 'background-color': scene?.backgroundColor}"
*ngIf="scene && scene.backgroundColor && !scene.url_image">
</div>
</div>

<!--Banner List-->
<div *ngFor="let banner of scene?.banners;let i = index" class="banner"
[ngClass]="{'cursor-pointer': banner.internalUrl?.length > 0 || banner.externalUrl?.length > 0}">
    
   <div (wheel)="onMouseWheel($event)"
   [ngClass]="{'cube': !banner.line, 'arrow cursor-pointer':banner.line}" 
   class="{{ banner.line ? (banner.line.style||'container-arrow--curve') :  banner.class}}"
   id="banner-drag-{{banner.id}}"
   [ngStyle]="{
   'left': banner.position?.x + 'px',
   'top': banner.position?.y + 'px',
   'opacity': banner.opacity,
   'transform': 'rotateX(' + banner.rotation.x + 'deg) rotateY(' + banner.rotation.y + 'deg) rotateZ(' + banner.rotation.z + 'deg)'
   }">
   <!--if banner is line-->
    <div class="arrow__body {{banner.class}} " *ngIf="banner.line"
    [ngStyle]="{
    'border-width': banner?.line?.weight+'px 0 0 '+banner?.line?.weight+'px',
    'border-style': banner?.line?.type,
    'border-color': banner?.line?.color,
    'width': banner.size.x + 'px', 
    'height': banner.size.y + 'px'
    }"
    ></div>
    <!--if banner is banner-->
   <div class="cube__face cube__face--right square " 
   [ngClass]="{'selected': bannerSelectHover === banner, 'grayscale': banner.grayscale }" 
   [hidden]=" ( banner.video && banner.video.url ) || banner.line"
   id="obj-{{banner.id}}"
   (click)="goToInternalUrl(banner)"
   (mouseover)="startAnimation(banner); bannerSelectHover = banner; "
   (mouseout)="isHover = null; bannerSelectHover = null;"
   (mouseup)="mouseUpContainer($event)"
   (mousedown)="mouseDownContainer($event,banner)"
   [ngStyle]="{
   'background-image': 'url('+banner.image_url+')',
   'background-size': banner.size.x + 'px ' + banner.size.y + 'px',
   'background-repeat': 'no-repeat',
   'background-color': banner.backgroundColor,
   'width': banner.size.x + 'px', 
   'height': banner.size.y + 'px',
   'font-size': banner.fontSize + 'px',
   'font-family': ( banner.fontFamily ? banner.fontFamily : 'YoutubeSansBold' ),
   'color': banner.fontColor,
   'border-color': banner.border?.color,
   'border-style': banner.border?.style,
   'border-radius': banner.border?.radius + 'px',
   'border-width': banner.border?.width +'px',
   'text-align': banner.textAlign,
   'box-shadow': (banner.shadowActivate ? banner?.shadowRight+'px ' + banner?.shadowDown+'px '+ banner?.shadowDisperse+'px '  +  banner?.shadowExpand+'px ' +  ( banner?.shadowColor || 'black') : '') 
   }">  
     <div [ngClass]="{'selected': bannerSelectHover === banner}" 
     [ngStyle]="{'line-height': banner?.lineHeight}">
       <div *ngIf="banner.isHtml">
         <div [innerHTML]="banner.textHtml"></div>
       </div>
       <div [hidden]="banner.isHtml">
          {{ banner.text}}
       </div>
      <!--if object is product -->
       <div *ngIf="product && banner.type=='ProductDescription'">
           {{product.name}}
       </div>
       <div *ngIf="product && banner.type=='ProductName'">
           {{product.description}}
       </div>
       <div *ngIf="product && banner.type=='ProductCarousel'">
          
       </div>
     </div> 
   </div>
   <!--if banner is Video-->
    <iframe *ngIf="banner.video" [src]="banner.video.sanitizer"
    frameborder="0" title="asdfasdfasdf" webkitallowfullscreen mozallowfullscreen allowfullscreen
    id="video-id-{{banner.id}}"
    class="{{banner.class}}"
    [ngStyle]="{'width': banner.size.x + 'px', 'height': banner.size.y + 'px'}">
    </iframe>

   <!--if banner is carousel-->
   <app-carousel-template #carrousel [banner]="banner" *ngIf="banner.carousel" 
   [fair]="fair" [pavilion]="pavilion" [stand]="stand"
   [ngStyle]="{'width': banner.size.x + 'px', 'height': banner.size.y + 'px'}">
   </app-carousel-template>
   
   
   <!--if banner is product-catalog -->
   

 </div>
<!--Tooltip-->
<span class="tooltip-label" *ngIf="banner.tooltipText && isHover == banner.id"
[ngClass]="banner.toolTipArrow"
[ngStyle]="{ 
'width': banner.toolPositionWidth+ 'px',
'height': banner.toolPosition+ 'px',
'top': (banner.position?.y + banner.toolPositionTop) + 'px',
'left': (banner.position?.x + banner.toolPositionLeft) + 'px'}">
 {{banner.tooltipText}}
</span>

</div>
