
<ion-button color="light" class="full-screen-button" (click)="onToogleFullScreen()">
    <ion-icon name="contract-outline" *ngIf="fullScreen"></ion-icon>
    <ion-icon name="expand-outline" *ngIf="!fullScreen"></ion-icon>
</ion-button>
  
<ion-content id="ionContent">

  <ion-item [hidden]="!errors">
   <div class="alert alert-danger alert-dismissible">
     <a href="javascript:void(0)" class="close" aria-label="close" (click)="errors=null" title="close">×</a>
     <strong>Error!</strong> {{errors}}
   </div>
  </ion-item>
  
  <video 
    [ngStyle]="{'opacity': scene?.videoUrl ? 1 : 0, 'position': scene?.videoUrl ? 'block' : 'absolute'}"
    crossOrigin="anonymous"
    webkit-playsinline
    autoplay
    [src]="scene?.videoUrl"
    playsinline preload="metadata" data-aos="fade-up"
    id="videoFair"
    class="video"
  >
  </video>
  
  <div class="div-container" scroll-x="0" scroll-y="0" [ngStyle]="{'background-color': scene?.backgroundColor, 'width':scene?.container?.w + 'px', 'height': scene?.container?.h + 'px'}">
     <ion-img *ngIf="scene && scene.url_image" [src]="scene?.url_image" ></ion-img>
  </div>
  
  <div class="scene" *ngFor="let banner of scene?.banners;let i = index"
       [ngStyle]="{
          'left': banner.position?.x + 'px ', 
          'top': + banner.position?.y + 'px',
          'width': + banner.rotation?.x + 'px',
          'height': + banner.rotation?.y + 'px'
     }">
        <div class="cube">
          <div class="cube__face square cube__face--right  {{banner.class}} cursor-pointer"
            id="obj-{{banner.id}}"
            (click)="goToInternalUrl(banner)"
            (mouseover)="isHover = banner.id; startAnimation(banner)" 
            (mouseout)="isHover = false"
            [ngClass]="{'link': banner.internalUrl ||  banner.externalUrl }"
            [ngStyle]="{
              'opacity': banner.opacity,
              'background-image': 'url('+banner.image_url+')',
              'background-size': banner.size?.x + 'px ' + banner.size?.y + 'px',
              'background-repeat': 'no-repeat',
              'background-color': banner.backgroundColor,
              'width': banner.size?.x + 'px ', 
              'height': + banner.size?.y + 'px',
              'font-size': banner.fontSize + 'px ',
              'font-family': banner.fontFamily,
              'color': banner.fontColor + '',
              'border-color': banner.border?.color,
              'border-style': banner.border?.style,
              'border-radius': banner.border?.radius + 'px',
              'border-width': ''+banner.border?.width+'px'
              }"> {{ banner.text }} </div>
          <!--/a-->
        </div>

        <span class="tooltip-label" *ngIf="banner.tooltipText && isHover === banner.id"
        [ngStyle]="{ 'width': banner.toolPositionWidth+ 'px',
                     'left': banner.toolPositionLeft + 'px'}">
              {{banner.tooltipText}}
        </span>
  </div>
 

  
</ion-content>

  <div class="tabs-menu" [ngStyle]="{'left':marginTabs ? marginTabs : '50%', 'bottom': fullScreen ? '0px': '56px'}">

    <ion-button color="light" (click)="onRouterLink('/app/tabs/schedule')">
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-button>

    <ion-button color="light" (click)="onRouterLink('/speakers')">
      <ion-icon slot="start" name="people-outline"></ion-icon>
      <ion-label>Conferencistas</ion-label>
    </ion-button>

    <ion-button color="light" (click)="onRouterLink('/map/fair/0')">
      <ion-icon slot="start" name="map-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-button>

    <ion-button color="light" (click)="onRouterLink('/app/tabs/about')">
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>Acerca de</ion-label>
    </ion-button> 
    
  </div>
