<ion-content id="ionContent">
   <ion-button color="light" class="full-screen-button" (click)="onToogleFullScreen()">
      <ion-icon name="contract-outline" *ngIf="fullScreen"></ion-icon>
      <ion-icon name="expand-outline" *ngIf="!fullScreen"></ion-icon>
   </ion-button>
   <ion-button color="light" class="goto-back-button" (click)="onToBackEditor(scene)">
      <ion-icon name="arrow-back-outline"></ion-icon>
   </ion-button>
   <ion-button color="light" class="goto-edit-button" (click)="onToMapEditor(scene)">
      <ion-icon name="create-outline"></ion-icon>
   </ion-button>

   <video 
   [ngStyle]="{'opacity': scene?.videoUrl ? 1 : 0, 'position': scene?.videoUrl ? 'block' : 'absolute'}"
   crossOrigin="anonymous"
   webkit-playsinline
   autoplay
   [src]="scene?.videoUrl"
   playsinline preload="metadata" data-aos="fade-up"
   id="videoFair"
   class="video"
   >
   </video>
   <ion-item [hidden]="!errors">
      <div class="alert alert-danger alert-dismissible">
         <a href="javascript:void(0)" class="close" aria-label="close" (click)="errors=null" title="close">×</a>
         <strong>Error!</strong> {{errors}}
      </div>
   </ion-item>
   <!--Scene Background Image-->
   <div class="div-container"  scroll-x="0" scroll-y="0">
      <div [ngStyle]="{
      'background-image': 'url(' + scene?.url_image + ')',
      'background-size': scene?.container?.w + 'px ' +scene?.container?.h+ 'px',
      'background-repeat': 'no-repeat',
      'width':scene?.container?.w + 'px', 
      'height': scene?.container?.h + 'px'
      }" (ionScroll)="logScrolling($event)"
      *ngIf="scene && scene.url_image">
   </div>
   <!--Scene Background Color-->
   <div [ngStyle]="{'width':scene?.container?.w + 'px', 'height': scene?.container?.h + 'px', 'background-color': scene?.backgroundColor}"
   *ngIf="scene && scene.backgroundColor && !scene.url_image">
   </div>
   </div>
   <!--Banner List-->
   <div *ngFor="let banner of scene?.banners;let i = index" class="banner"
   [ngClass]="{'cursor-pointer': banner.internalUrl?.length > 0 || banner.externalUrl?.length > 0}">
        
       <div (wheel)="onMouseWheel($event)"
       [ngClass]="{'cube': !banner.line, 'arrow cursor-pointer':banner.line}" 
       class="{{ banner.line ? (banner.line.style||'container-arrow--curve') :  banner.class}}"
       id="banner-drag-{{banner.id}}"
       [ngStyle]="{
       'left': banner.position?.x + 'px',
       'top': banner.position?.y + 'px',
       'opacity': banner.opacity,
       'transform': 'rotateX(' + banner.rotation.x + 'deg) rotateY(' + banner.rotation.y + 'deg) rotateZ(' + banner.rotation.z + 'deg)'
       }">
       <!--if banner is line-->
        <div class="arrow__body {{banner.class}} " *ngIf="banner.line"
        [ngStyle]="{
        'border-width': banner?.line?.weight+'px 0 0 '+banner?.line?.weight+'px',
        'border-style': banner?.line?.type,
        'border-color': banner?.line?.color,
        'width': banner.size.x + 'px', 
        'height': banner.size.y + 'px'
        }"
        ></div>
        <!--if banner is banner-->
       <div class="cube__face cube__face--right square " 
       [ngClass]="{'selected': bannerSelectHover === banner, 'greyscale': banner.greyscale }" 
       [hidden]="banner.video_url || banner.line"
       id="obj-{{banner.id}}"
       (click)="goToInternalUrl(banner)"
       (mouseover)="startAnimation(banner); bannerSelectHover = banner; "
       (mouseout)="isHover = null; bannerSelectHover = null;"
       [ngStyle]="{
       'background-image': 'url('+banner.image_url+')',
       'background-size': banner.size.x + 'px ' + banner.size.y + 'px',
       'background-repeat': 'no-repeat',
       'background-color': banner.backgroundColor,
       'width': banner.size.x + 'px', 
       'height': banner.size.y + 'px',
       'font-size': banner.fontSize + 'px',
       'font-family': ( banner.fontFamily ? banner.fontFamily : 'YoutubeSansBold' ),
       'color': banner.fontColor,
       'border-color': banner.border?.color,
       'border-style': banner.border?.style,
       'border-radius': banner.border?.radius + 'px',
       'border-width': banner.border?.width +'px',
       'text-align': banner.textAlign,
       'box-shadow': (banner.shadowActivate ? banner?.shadowRight+'px ' + banner?.shadowDown+'px '+ banner?.shadowDisperse+'px '  +  banner?.shadowExpand+'px ' +  ( banner?.shadowColor || 'black') : '') 
       }">  
         <div [ngClass]="{'selected': bannerSelectHover === banner}" 
         [ngStyle]="{'line-height': banner?.lineHeight}">
           <div class="innerHtml">
           {{banner.text}}
           </div>
          </div>
       </div>
       <!--if banner is Video-->
       <video controls *ngIf="banner.video" class="{{banner.class}}"
       (click)="onBannerSelect(banner);"
       [ngStyle]="{'width': banner.size.x + 'px', 'height': banner.size.y + 'px'}">
          <source src="{{banner.video.url}}"     type="video/mp4">
           Your browser does not support the video tag.
       </video>
       <!--if banner is carousel-->
       <app-carousel-template [banner]="banner" *ngIf="banner.carousel" [fair]="fair" [pavilion]="pavilion" [stand]="stand"
       [ngStyle]="{'width': banner.size.x + 'px', 'height': banner.size.y + 'px'}">
       </app-carousel-template>
     </div>
    <!--Tooltip-->
    <span class="tooltip-label" *ngIf="banner.tooltipText && isHover == banner.id"
    [ngClass]="banner.toolTipArrow"
    [ngStyle]="{ 
    'width': banner.toolPositionWidth+ 'px',
    'height': banner.toolPosition+ 'px',
    'top': (banner.position?.y + banner.toolPositionTop) + 'px',
    'left': (banner.position?.x + banner.toolPositionLeft) + 'px'}">
     {{banner.tooltipText}}
    </span>
   
   </div>
</ion-content>

<app-tab-menu-scenes *ngIf="scene" [position]="scene.menuTabs.position"  [options]="tabMenuObj" ></app-tab-menu-scenes>