ion-input {
    border: 1px solid gray;
    margin-top: -0.4em;
}

.form {
    padding: 2em;
}

@media screen and (max-width:680px) {
    .form {
        padding: 0.5em;
    }
}

.product-mini {
    height: 100px;
    margin: 5px;
    width: 100px;
    max-width: 100px;
}

.product-mini ion-img {
    height: 100px;
    margin: 5px;
    width: 100px;
}


ion-thumbnail {
    width: 9em;
    height: auto;
    width: 7em;
    height: auto;
    margin-left: 0.5em;
    margin-right: 0.5em;

    img {
        width: 9em;
    }
}