.login-logo {
    padding: 83px 0 0 0;
    min-height: 175px;
    text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

.invalid-feedback {
  font-size: 1.4em;
}

ion-item.item-has-focus > ion-label{
  color:  var(--color) !important;
}

ion-input {
  font-size: 1em;
}

.back-button {
  position: absolute;
  left: 2.5em;
  top: 0.5em;
  font-size: 1.7em;
  border-radius: 15px;
  padding-top: 3px;
  padding-left: 13px;
  height: 31px;
  width: 175px;
  
  ion-icon {
    font-size: 1.5em;
    position: absolute;
    top: 2px;
    left: 3px;
  }
  
  div {
    position: absolute;
    top: 2px;
    left: 1.7em;
  }
}


.forward-button {
  position: absolute;
  right: 3em;
  top: 0.5em;
  font-size: 1.7em;
  border-radius: 15px;
  padding-top: 3px;
  padding-left: 13px;
  height: 31px;
  width: 175px;
  
  ion-icon {
    font-size: 1.5em;
    position: absolute;
    left: 133px;
    top: 0px;
  }
  
  div {
    position: absolute;
    top: 0px;
  }
}


.back-button:hover,
.forward-button:hover {
  background-color: #F0F0F0;
  transition: background-color .5s;
}

.title-modal {
  margin-top: 1.5em;
}

.min-height {
  min-height: 50em;
}

.min-height-register {
  height: 43em;
  overflow: auto;
}


.delete-terms { 
  left: 1.4em;
  position: absolute;
}

.m-auto {
  margin: auto;
}

.accept-termns-condition {
    display: block;
    position: ABSOLUTE;
    top: 2em;
}