.scene {
  top: 40px;
  left: 180px;
  position: absolute;
}

.cube {
  width: 20px;
  height: 20px;
  position: relative;
}

.cube__face {
  position: absolute;
  border: 2px solid black;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cube__face--right  { background: hsla( 60, 100%, 50%, 0.7); }


.full-screen-button {
  position: absolute;
  top: 0px;
  z-index: 11;
}

.panel-scene-settings {
  position: absolute;
  top: 40px;
  right: 0px;
  z-index: 11;
}

.panel-scene-plus {
  position: absolute;
  top: 85px;
  right: 0px;
  z-index: 11;
}

.panel-scene-save {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 11;
}

.tabs-menu {
  position: absolute;
  bottom: 20px;
  left: calc(22% - 10px);
  z-index: 11;
}

@media (max-width: 690px) {
  .tabs-menu {
      right: calc(0% - 10px);
      left: 0;
      ion-button {
         font-size: 10px;
         
         ion-label {
           font-size: 10px;
         }
      }
    }
}

.div-container {
  width: 100%;
  overflow: auto;
}

.pane-scene-tools {
  position: absolute;
  top: 0px;
  right: 51px;
  width: 391px;
}

.panel-tools {
  position: absolute;
  top: 84px;
  right: -11px;
  width: 385px;
}


  
.pane-scene-select {
  position: absolute;
  top: 0px;
  left: 27px;
  width: 391px;
}

.close {
   position: absolute;
   z-index: 2;
   right: 19px;
   top: 14px;
}




ion-tab-bar {
  position: relative;
  border-radius: 16px;
  width: 92%;
  margin: 0 auto;
}

ion-tab-button {
  --color: var(--ion-color-medium);
  --color-selected: var(--ion-color-primary);

  &::before {
    background-color: transparent;
    display: block;
    content: "";
    margin: 0 auto;
    width: 20px;
    height: 2px;
  }

  &.tab-selected::before {
    background-color: var(--ion-color-primary);
  }
}



.tooltip-label {
  position: absolute;
  left: -150px;
  top: 7px;
  background-color: black;
  padding: 8px;
  border-radius: 11px;
  color: #fff;
}

.tabs-menu {
  position: absolute;
  z-index: 11;
}

@media (max-width: 690px) {
  .tabs-menu {
      left: 0;
      ion-button {
         font-size: 10px;
         
         ion-label {
           font-size: 10px;
         }
      }
    }
}

.cube__face--right:hover {
  cursor: pointer;
  background: black;
  opacity: 0.5;
}


ion-toolbar {
  height: 46px;
}

.icon-panel-scene {
  border: 1px solid red;
  height: 72px;
  width: 77px;
  border-radius: 16px;
  cursor: pointer;
}

.icon-panel-scene-label {
  position: absolute;
  top: 23px;
  left: 33px;
  cursor: pointer;
}
