.scene {
  position: absolute;
}

.cube {
  width: 20px;
  height: 20px;
  position: relative;
}

.cube__face {
  position: absolute;
  border: 2px solid black;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  cursor: pointer;
}


.full-screen-button {
  position: absolute;
  top: 0px;
  z-index: 11;
}

.panel-scene-settings {
  position: absolute;
  top: 40px;
  right: 0px;
  z-index: 11;
}

.panel-scene-plus {
  position: absolute;
  top: 125px;
  right: 0px;
  z-index: 11;
}

.panel-scene-save {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 11;
}

.tabs-menu {
  position: absolute;
  bottom: 20px;
  left: calc(22% - 10px);
  z-index: 11;
}

@media (max-width: 690px) {
  .tabs-menu {
      right: calc(0% - 10px);
      left: 0;
      ion-button {
         font-size: 10px;
         
         ion-label {
           font-size: 10px;
         }
      }
    }
}

.div-container {
  width: 100%;
  overflow: auto;
  position: absolute;
}

.scene-setting-panel {
  position: absolute;
  top: 0px;
  right: 51px;
  width: 391px;
}

.tool-panel {
  position: absolute;
  top: 117px;
  right: -11px;
  width: 385px;
}
  
.panel-scene-select {
  position: absolute;
  top: 0px;
  right: 52px;
  width: 425px;
}

.close {
  position: absolute;
  z-index: 2;
  right: 19px;
  top: 14px;
  cursor: pointer;
}

.close:hover {
  color: var(--color-selected);
}

.fixed {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  left: 13px;
  top: 8px;
  font-size: 21px;
}

.fixed:hover {
  color: var(--color-selected);
}




ion-tab-bar {
  position: relative;
  border-radius: 16px;
  width: 92%;
  margin: 0 auto;
}

ion-tab-button {
  --color: var(--ion-color-medium);
  --color-selected: var(--ion-color-primary);

  &::before {
    background-color: transparent;
    display: block;
    content: "";
    margin: 0 auto;
    width: 20px;
    height: 2px;
  }

  &.tab-selected::before {
    background-color: var(--ion-color-primary);
  }
}



.tooltip-label {
  position: absolute;
  left: -150px;
  top: 7px;
  background-color: black;
  padding: 8px;
  border-radius: 11px;
  color: #fff;
}

.tabs-menu {
  position: absolute;
  z-index: 11;
}

@media (max-width: 690px) {
  .tabs-menu {
      left: 0;
      ion-button {
         font-size: 10px;
         
         ion-label {
           font-size: 10px;
         }
      }
    }
}




.icon-panel-scene {
  border: 1px solid red;
  height: 54px;
  width: 63px;
  border-radius: 16px;
  cursor: pointer;
}

.icon-panel-scene-label {
  position: absolute;
  top: 23px;
  left: 33px;
  cursor: pointer;
}


.cube__face--right:hover {
  border: 1px solid gray !important;
}

.line-arrow-button {
  left: 11px;
  top: 4px;
  width: 29px;
  height: 47px;
  position: absolute;
  border-width: 2px 0 0 2px;
}

.panel-show-item {
  position: absolute;
  top: 81px;
  right: 0px;
  z-index: 11;
}
