<!--ion-app [class.dark-theme]="dark"-->
<ion-app>
<ion-header translucent="true">
  <ion-toolbar color="light" [ngClass]="{'full-screen': fullScreen}" class="app-toolbar-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons class="d-flex w-100">
      <ion-img slot="start" class="icon-logo" [src]="fair?.social_media?.icon"></ion-img>
      <ion-label class="fair-title"> {{fair?.description}} </ion-label>
    </ion-buttons>
    <ion-buttons slot="end" >
      <ion-button *ngIf="showShoppingCart">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
      <ion-button class="d-none d-md-flex end-menu-button" color="secondary" routerLink="/login/" routerLinkActive="selected" routerDirection="root" *ngIf="!loggedIn" fill="outline" shape="round">
        <ion-icon slot="start" ios="ios-person" md="person"></ion-icon>
         Acceder
      </ion-button>
      <ion-item class="d-none d-md-flex" *ngIf="loggedIn" routerLink="/account" routerLinkActive="active" routerDirection="root" detail="false">
        <ion-icon slot="start" ios="ios-person" md="person"></ion-icon>
         Cuenta
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-split-pane contentId="main-content" when="lg">

    <ion-menu class="scroll-container" [ngClass]="{'full-screen': fullScreen}" contentId="main-content" class="menu-main-content">
      <ion-content class="scroll-container">
        <ion-list lines="none" class="border-botton" *ngIf="profileRole && profileRole.admin">
          <ion-list-header class="md hydrated">Super Administrador </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/super-admin/fair" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="map-outline"></ion-icon>
              <ion-label>
                Administrar Feria
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list lines="none">
          <ion-menu-toggle autoHide="false">
            <div *ngFor="let scene of fair?.resources?.scenes;let i = index">
              <div *ngIf="scene.show || (profileRole && profileRole.admin)">
                <ion-item (click)="onClickFairScene(i)" button="true">
                  <ion-icon slot="start" [name]="scene.menuIcon"></ion-icon>
                  <ion-label class="ion-text-wrap">
                    {{scene.title}}
                  </ion-label>
                </ion-item>
              </div>
            </div>
            <div *ngFor="let pavilion of fair?.pavilions;let i = index">
            <!-- (click)="onClickPavilion(pavilion)" -->
              <ion-item (click)="onClickPavilion(pavilion)"
                      class="pavilions-menu"
                      button="true"
                      lines="none">
                <ion-icon slot="start" name="albums-outline"></ion-icon>
                <ion-label class="menu-label ion-text-wrap">{{pavilion.name}}</ion-label>
                <ion-icon slot="end" name="chevron-down-outline" size="small" *ngIf="showPavilionDetail !== 'pavilion_id_'+pavilion.id"></ion-icon>
                <ion-icon slot="end" name="chevron-up-outline" size="small" *ngIf="showPavilionDetail === 'pavilion_id_'+pavilion.id"></ion-icon>
              </ion-item> 
            <!--[routerLink]="'/map/pavilion'+(i+1)+'/'+pavilion.id+'/'+k" routerLinkActive="selected" routerDirection="root" -->
              <div *ngIf="showPavilionDetail ==='pavilion_id_'+pavilion.id">
                <div *ngFor="let scene of pavilion.resources.scenes; let k = index;" >
                  <ion-item *ngIf="scene.show || (profileRole && profileRole.admin)"
                          (click)="onClickPavilionScene(pavilion,k)"
                          lines="none"
                          button="true"
                          class="sub-menu">
                    <ion-icon slot="end" name="chevron-forward-outline" size="small"></ion-icon>
                    <ion-label class="menu-label ml-4 ion-text-wrap"> {{ scene.title}} </ion-label>
                  </ion-item>
                </div>
                <ion-item (click)="onClickPavilionLocal(pavilion)"
                          lines="none"
                          button="true"
                          class="sub-menu"
                          *ngIf="pavilion.stands.length > 0" >
                  <ion-label class="menu-label ml-4">Locales comerciales </ion-label>
                  <ion-icon slot="end" name="chevron-down-outline" size="small" [hidden]="pavilion.showStandDetail"></ion-icon>
                  <ion-icon slot="end" name="chevron-up-outline" size="small" *ngIf="pavilion.showStandDetail"></ion-icon>
                </ion-item>
                <div *ngIf="pavilion.showStandDetail">
                    <div *ngFor="let stand of pavilion.stands;let i_stand = index">
                      <ion-item (click)="onClickPavilionStand(pavilion,stand)"
                              button="true" lines="none" class="sub-menu-stand">
                        <ion-icon slot="end" name="chevron-forward-outline" size="small"></ion-icon>
                        <ion-label class="menu-label ml-6 ion-text-wrap" style="margin-left: 2em;">{{stand.merchant.name}}</ion-label>
                      </ion-item>
                      <div *ngIf="stand.standShowSelect && stand.resources.scenes.length > 1">
                        <div *ngFor="let scene of stand.resources.scenes;let i_scene = index">
                          <ion-item *ngIf="profileRole && profileRole.admin"
                              (click)="onClickPavilionStandScene(pavilion,stand,i_scene)"
                              button="true"
                              lines="none" class="sub-menu-stand">
                            <ion-icon slot="start" name="chevron-forward-outline" size="small"></ion-icon>
                            <ion-label class="menu-label ion-text-wrap" style="margin-left: 2em;">{{scene.title || 'Escena #' + ( i_scene + 1 ) }}</ion-label>
                          </ion-item>
                         </div>
                       </div>
                    </div>
                </div>
             </div>
          </div>
        </ion-menu-toggle>
        </ion-list>
          

         <ion-list lines="none" class="border-botton">
          <ion-menu-toggle autoHide="false">
            <ion-item 
            (click)="showPavilionDetail = null"
            routerLink="/app/tabs/schedule" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" [name]="'calendar-outline'"></ion-icon>
              <ion-label>
                Agenda
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <!--ion-menu-toggle autoHide="false">
            <ion-item 
            (click)="showPavilionDetail = null"
            routerLink="/speakers" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" [name]="'people-outline'"></ion-icon>
              <ion-label>
                Conferencistas
              </ion-label>
            </ion-item>
          </ion-menu-toggle-->
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="showPavilionDetail = null"
            routerLink="/news" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" name="newspaper-outline"></ion-icon>
              <ion-label class="menu-label">Noticias</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        

        <ion-list *ngIf="loggedIn" lines="none" class="border-botton">
          
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/account" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Cuenta
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="presentLogout()" detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Salir
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        
        <ion-list *ngIf="!loggedIn" class="border-botton ion-text-center access">
          <ion-menu-toggle autoHide="false" class="ion-text-center"> 
            <ion-note class="login-note ion-text-start font-light">Accede con tu usuario para participar en los eventos, realizar solicitudes y gestionar tu usuario.</ion-note>
            
            <ion-button color="secondary" fill="outline" shape="round" routerLink="/login/" routerLinkActive="selected" routerDirection="root">
                <ion-icon slot="start" ios="ios-person" md="person"></ion-icon>
                Acceder
            </ion-button>
          </ion-menu-toggle> 
        </ion-list>
        
        <!--ion-list class="border-botton ion-text-center nav-title"-->
        <ion-list lines="none" class="border-botton">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/app/tabs/library" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" name="albums-sharp"></ion-icon>
              <ion-label class="menu-label">Biblioteca</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/app/tabs/history" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" name="refresh-sharp"></ion-icon>
              <ion-label class="menu-label">Historial</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/app/tabs/memories" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" ios="ios-bookmarks-outline" md="bookmarks-sharp"></ion-icon>
              <ion-label class="menu-label">Lo mejor de la feria</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        
        <ion-list lines="none">
          <ion-list-header>
            Tutorial
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openTutorial()" detail="false">
              <ion-icon slot="start" name="hammer"></ion-icon>
              <ion-label>Ver Tutorial</ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/support" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Soporte
              </ion-label>
            </ion-item>
                
          </ion-menu-toggle>

        </ion-list>
      
        <ion-list class="border-botton ion-text-center">  
          <ion-item>
              <ion-label class="font-light menu-label">© 2021 Estratégica S.A </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>
