<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button (click)="onMenuBotton()"></ion-menu-button>
      </ion-buttons>
      <ion-img class="icon-logo" src="assets/icon/icon.png"></ion-img>
      <ion-label slot="end" class="title-fair"> {{ fair?.description }} </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="outline" shape="round" color="primary" class="end-menu-button" routerDirection="root" [routerLink]="[fair.name+'/login']">
            <ion-icon slot="start" ios="ios-person" md="person"></ion-icon>
            Acceder
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
 
  <ion-split-pane contentId="main-content" (window:resize)="onResize($event)">
    <ion-menu contentId="main-content" side="start" swipeGesture="false" type="overlay" class="custom-menu" swipeEnabled="false">
      <ion-content>
        <ion-list class="border-botton">
          <ion-menu-toggle auto-hide="false">
		    <ion-item (click)="selectedIndex = 'main'; onMainMenuToggle()" lines="none" href="javascript:void(0)" detail="false" [class.selected]="selectedIndex === 'main'">
			  <ion-icon slot="start" name="home-sharp"></ion-icon>
              <ion-label class="menu-label">Principal</ion-label>
            </ion-item>
          </ion-menu-toggle>
		  <ion-menu-toggle auto-hide="false" class="pavilions-menu">
            <ion-item (click)="selectedIndex = 'pavilion'; showPavilions = !showPavilions" lines="none" href="javascript:void(0)" detail="false" [class.selected]="selectedIndex === 'pavilion'">
              <ion-icon slot="start" name="albums-outline"></ion-icon>
              <ion-label class="menu-label">Pabellones</ion-label>
			  <ion-icon slot="end" name="chevron-down-outline" size="small" *ngIf="!showPavilions"></ion-icon>
			  <ion-icon slot="end" name="chevron-up-outline" size="small" *ngIf="showPavilions"></ion-icon>
            </ion-item>
			<div *ngIf="showPavilions">
			<ion-item (click)="selectedIndex='pavilion_id_1';onOpenPavilion(1);" href="javascript:void(0)" lines="none" detail="false" class="sub-menu" [class.selected]="selectedIndex==='pavilion_id_1'">
			  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
              <ion-label class="menu-label">Pabellón Principal</ion-label>
            </ion-item>
			<ion-item (click)="selectedIndex='pavilion_id_2';onOpenPavilion(2);" href="javascript:void(0)" lines="none" detail="false" class="sub-menu" [class.selected]="selectedIndex==='pavilion_id_2'">
			  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
              <ion-label class="menu-label">Locales comerciales</ion-label>
            </ion-item>
			</div>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <!--ion-item (click)="onOpenTab(newsPage, 'news');" lines="none" href="javascript:void(0)" detail="false" [class.selected]="selectedIndex === 'news'"-->
			<ion-item (click)="selectedIndex = 'news'" routerDirection="root" [routerLink]="[fair.name+'/noticias']" lines="none" detail="false" [class.selected]="selectedIndex === 'news'">
            
              <ion-icon slot="start" name="newspaper-outline"></ion-icon>
              <ion-label class="menu-label">Noticias</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="selectedIndex = 'agenda'" routerDirection="root" [routerLink]="[fair.name+'/agenda']" lines="none" detail="false" [class.selected]="selectedIndex === 'agenda'">
              <ion-icon slot="start" name="calendar"></ion-icon>
              <ion-label class="menu-label">Agenda</ion-label>
            </ion-item>
          </ion-menu-toggle>          
        </ion-list>
        <ion-list class="border-botton">
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="selectedIndex = 'library'" routerDirection="root" [routerLink]="[fair.name+'/biblioteca']" lines="none" detail="false" [class.selected]="selectedIndex === 'library'">
              <ion-icon slot="start" name="albums-sharp"></ion-icon>
              <ion-label class="menu-label">Biblioteca</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="selectedIndex = 'history'" routerDirection="root" [routerLink]="[fair.name+'/historial']" lines="none" detail="false" [class.selected]="selectedIndex === 'history'">
              <ion-icon slot="start" name="refresh-sharp"></ion-icon>
              <ion-label class="menu-label">Historial</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      
        <ion-list class="border-botton ion-text-center access">
          <div class="ion-text-center">
            <ion-note class="login-note ion-text-start font-light">Accede para dar participar en los eventos, realizar comentarios y suscribirte a los comercios.</ion-note>
            <ion-button fill="outline" shape="round" routerDirection="root" [routerLink]="[fair.name+'/login']">
                <ion-icon slot="start" ios="ios-person" md="person"></ion-icon>
                Acceder
            </ion-button>
          </div>
        </ion-list>
        <ion-list class="border-botton ion-text-center nav-title">  
          <ion-label>LO MEJOR DE LA FERIA</ion-label>
          <ion-menu-toggle auto-hide="false">
            <ion-item class="mt-10px" (click)="selectedIndex = 'speakers'" routerDirection="root" [routerLink]="[fair.name+'/conferencistas']" lines="none" detail="false" [class.selected]="selectedIndex === 'speakers'">
              <ion-icon slot="start" name="people-sharp"></ion-icon>
              <ion-label class="menu-label">Conferencistas</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="selectedIndex = 'memories'" routerDirection="root" [routerLink]="[fair.name+'/memorias']" lines="none" detail="false" [class.selected]="selectedIndex === 'memories'">
              <ion-icon slot="start" ios="ios-bookmarks-outline" md="bookmarks-sharp"></ion-icon>
              <ion-label class="menu-label">Memorias</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list class="border-botton ion-text-center">  
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="selectedIndex = 'aboutus'" routerDirection="root" [routerLink]="[fair.name + '/acerca-de']" lines="none" detail="false" [class.selected]="selectedIndex === 'aboutus'">
              <ion-icon slot="start" ios="ios-bookmark-outline" md="bookmark-sharp"></ion-icon>
              <ion-label class="menu-label">Acerca de </ion-label>
            </ion-item>
          </ion-menu-toggle>  
          <ion-menu-toggle auto-hide="false">
             <ion-item (click)="selectedIndex = 'politics'" routerDirection="root" [routerLink]="[fair.name+'/politicas']" lines="none" detail="false" [class.selected]="selectedIndex === 'politics'">
              <ion-icon slot="start" ios="ios-bookmark-outline" md="bookmark-sharp"></ion-icon>
              <ion-label class="menu-label">Política y seguridad </ion-label>
            </ion-item>
          </ion-menu-toggle>  
          
          <ion-item>
              <ion-label class="font-light menu-label">© 2021 Estratégica S.A </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet id="main-content" [ngStyle]="{'opacity': selectedIndex !== 'main' ? 1 : 0 }"></ion-router-outlet>

  </ion-split-pane>
  
  <div [ngStyle]="{'opacity': selectedIndex === 'main' || selectedIndex.indexOf('pavilion') == 0  ? 1 : 0 , 'z-index': ( menuOpen && devWidth < 991 ) ? 0 : ( !menuOpen && devWidth < 991 ) ? 10 : 0 }" class="container" #container></div>
    
  <!--ion-nav  [ngStyle]="{ 
    'min-width': '100%',
    'position': 'absolute',
    'top': 56 + 'px',
    'left': 270 + 'px',
    'opacity': selectedIndex !== 'main' ? 1 : 0 }" #mySubNav>
  </ion-nav-->
  
  

</ion-app>
