ion-thumbnail.img-session {
    width: 464px;
    height: 307px;
}

.speaker-name {
    align-self: center;
    margin-left: 13px;
}

.speaker-card {
	
}

ion-avatar {
	width: 32px;
	height: 28px;
}

ion-card-header {
    padding: 11px;
}
