.close-modal {
  cursor: pointer; 
  position: absolute;
  right: 0.7em;
  top: 0;
  font-size: 2.5em;
  color: darkgray;
  z-index: 100;
}

.padding-container {
  padding: 1em 3% 0 3%;
}

.content-left {
  height: 44em;
  overflow: auto;
}

.footer-pay {
  left: -1em;
  width: 103%;
  text-align: center;
  --background: lightgray;
}

.close-play {
  font-size: 2.2em;
}

.close-modal {
  cursor: pointer; 
  position: absolute;
  right: 0.7em;
  top: 0;
  font-size: 2.5em;
  color: darkgray;
  z-index: 100;
}

.pay-button {
  bottom: -0.3em;
  position: absolute;
}	