<!--div *ngIf="banner.carousel.type == 'horizontal111111'" class="carousel" [ngStyle]="{'width': banner.size.x + 'px', 'height': banner.size.y + 'px'}">
  <ul class="slides" [ngClass]="{'horizontal': banner.carousel.type == 'horizontal', 'horizontal-1': banner.carousel.type == 'horizontal-1'}">
    <li *ngFor="let image of banner.carousel.images">
      <h2>{{image.title}}</h2>
      <img src="{{image.url}}" alt="">
    </li>
  </ul>
</div-->

<ion-slides id="ion-slides-{{banner.id}}" pager="true" [ngStyle]="{'width': banner.size.x + 'px'}">
  <ion-slide *ngFor="let product of banner.carousel.products"  [ngStyle]="{'height': banner.size.y + 'px'}" class="d-block">
    <img (click)="goToProduct(product)" src="{{product.prices[0].resources.images[0].url_image}}" alt="" [ngStyle]="{'height': banner.size.y + 'px'}">
    <div class="position-absolute" style="top:0px; left: 0px;" [ngStyle]="{'color': banner.fontColor}">
       {{product.name}}
    </div>
  </ion-slide>
  <ion-slide *ngFor="let image of banner.carousel.images"  [ngStyle]="{'height': banner.size.y + 'px'}" class="d-block">
    <img src="{{image.url}}" alt="" [ngStyle]="{'height': banner.size.y + 'px'}">
  </ion-slide>
</ion-slides>

<!--div *ngIf="banner.carousel.type == 'horizontal-111111'" class='carousel' [ngStyle]="{'width': banner.size.x + 'px', 'height': banner.size.y + 'px'}">
    <input checked='checked' class='carousel__activator' id='carousel-slide-activator-1' name='carousel' type='radio'>
    <input class='carousel__activator' id='carousel-slide-activator-2' name='carousel' type='radio'>
    <input class='carousel__activator' id='carousel-slide-activator-3' name='carousel' type='radio'>
    <div class='carousel__controls'>
      <label class='carousel__control carousel__control--forward' for='carousel-slide-activator-2'>
        👉
      </label>
    </div>
    <div class='carousel__controls'>
      <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-1'>
        👈
      </label>
      <label class='carousel__control carousel__control--forward' for='carousel-slide-activator-3'>
        👉
      </label>
    </div>
    <div class='carousel__controls'>
      <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-2'>
        👈
      </label>
    </div>
    <div class='carousel__screen'>
      <div class='carousel__track'>
        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
          <div class='demo-content'>
            a
          </div>
        </div>
        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
          <div class='demo-content'>
            b
          </div>
        </div>
        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
          <div class='demo-content'>
            c
          </div>
        </div>
        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
          <div class='demo-content'>
            d
          </div>
        </div>
        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
          <div class='demo-content'>
            e
          </div>
        </div>
        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
          <div class='demo-content'>
            f
          </div>
        </div>
        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
          <div class='demo-content'>
            g
          </div>
        </div>
      </div>
    </div>
  </div-->