  <ion-slides #slides pager="true" [options]="slideOpts" [ngStyle]="{'width': banner.size.x + 'px'}">
    <ion-slide *ngFor="let item of items" [ngStyle]="{'height': banner.size.y + 'px'}">
      <img *ngIf="item.url" src="{{item.url}}" alt="" [ngStyle]="{'height': banner.size.y + 'px'}"/>
      <div *ngIf="item.product" class="product" (click)="goToProduct(item.product)" >
        <img src="{{item.product.url_image}}" alt="" [ngStyle]="{'height': banner.size.y + 'px'}"/>
        <div class="position-absolute" style="top:0px; left: 0px;" [ngStyle]="{'color': banner.fontColor}">
          {{item.product.name}}
         </div>
      </div>
    </ion-slide>
   </ion-slides>

<!--product list--
<ion-slides  [options]="slideOpts" id="ion-slides-{{banner.id}}" pager="true" [ngStyle]="{'width': banner.size.x + 'px'}">
  <div *ngFor="let item of items" [ngStyle]="{'height': banner.size.y + 'px'}" class="d-block">
    <ion-slide>
      <img *ngIf="item.url" src="{{item.url}}" alt="" [ngStyle]="{'height': banner.size.y + 'px'}">
    </ion-slide> 
    <ion-slide *ngIf="item.product" class="cursor-pointer">
      <img (click)="goToProduct(item.product)" src="{{item.product.url_image}}" alt="" [ngStyle]="{'height': banner.size.y + 'px'}"/>
      <div class="position-absolute" style="top:0px; left: 0px;" [ngStyle]="{'color': banner.fontColor}">
        {{item.product.name}}
      </div>
    </ion-slide>
  </div>
</ion-slides>
<!--product list-->
