<ion-header *ngIf="product">
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-back-button defaultHref="/super-admin/stand/{{pavilion?.id}}/{{stand?.id}}"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end" *ngIf="product">
         <div [hidden]="!errors" class="not-found fs-2">
            <div class="alert alert-danger alert-dismissible">
               <a href="javascript:void(0)" class="close" aria-label="close" (click)="errors=null" title="close">×</a>
               <strong></strong> {{errors}}
            </div>
         </div>
         <ion-button color="primary" 
         [ngStyle]="{'opacity' : ( productForm.invalid && !editSave ) ? '0.5' : '1' } " (click)="updateProduct()">
         <ion-icon slot="start" name="save-outline"></ion-icon>
         {{product && product.id ? 'Guardar':'Crear Producto'}}
         </ion-button>
         <ion-button color="danger" (click)="deleteProduct()" *ngIf="product.id">
         <ion-icon slot="start" name="trash-outline"></ion-icon>
         Eliminar
         </ion-button>
      </ion-buttons>
      <ion-title> {{ product && product.id ? 'Modificar' : 'Crear' }} Producto </ion-title>
   </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
   <div class="padding-container" *ngIf="product">
      <ion-list-header>
         Formulario para {{  product.id ? 'modificación' : 'creación' }} del producto
      </ion-list-header>
      <ion-list>
         <form [formGroup]="productForm" (ngSubmit)="updateProduct()">
         <ion-item button="false" lines="none">
            <ion-label>
               Categoría <span class="required"> (*) </span>
            </ion-label>
            <ion-label>
               <select class="form-control fs-1"  slot="end"
                  formControlName="category_id"
                  [ngClass]="{ 'is-invalid': submitted && f.category_id.errors }"
                  (change)="onChangeItem()">
                  <option class="fs-1" value="{{category.id}}" *ngFor="let category of categories"> {{category.name}}</option>
               </select>
               <div *ngIf="submitted && f.category_id.errors" class="invalid-feedback">
                  <div *ngIf="f.category_id.errors.required">Campo requerido</div>
               </div>
            </ion-label>
         </ion-item>
         <ion-item button="false" lines="none">
            <ion-label>
               Nombre <span class="required"> (*) </span>
            </ion-label>
            <ion-label>
               <input (change)="onChangeItem()" type="text" formControlName="name"  class="form-control  fs-1" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
               <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Campo requerido</div>
               </div>
            </ion-label>
         </ion-item>
         <ion-item button="false" lines="none">
            <ion-label>
               Descripción <span class="required"> (*) </span>
            </ion-label>
            <ion-label>
            <textarea (change)="onChangeItem()" type="text" formControlName="description" class="form-control  fs-1" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                        </textarea>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
               <div *ngIf="f.description.errors.required">Campo requerido</div>
            </div>
            </ion-label>
         </ion-item>
         <ion-item button="false" lines="none">
            <ion-label>
               Precio <span class="required"> (*) </span>
            </ion-label>
            <ion-label>
            <input (change)="onChangeItem()" class="form-control  fs-1"
               [hidden]="tooglePrice"
               [value]="priceFormat"
               [ngClass]="{ 'is-invalid': ( submitted && f.price.errors ) }" 
               (focus)="tooglePrice = true"
               (click)="tooglePrice = true"/>
            
            <input type="number" formControlName="price" class="form-control  fs-1"  
             *ngIf="tooglePrice"
             (blur)="tooglePrice = false"
             (change)="setPriceMask()"
             [ngClass]="{ 'is-invalid': ( submitted && f.price.errors ) }"/>
 
            <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
               <div *ngIf="f.price.errors.required">Campo requerido</div>
            </div>
            </ion-label>
         </ion-item>
         </form>
         

         <ion-item class="mb-4" lines="" *ngIf="product.id">
          <ion-label style="max-width: 153px;" slot="start">Referencias </ion-label>
          <div class="d-flex ml-auto scroll-light" style="overflow-x: scroll; ">
              <ion-item  *ngFor="let price of product?.prices;let i = index" class="scene-icon-mini"  style="min-width: 184px"
              button="true" routerLink="/super-admin/product-price/{{pavilion.id}}/{{stand.id}}/{{product.id}}/{{price.id}}" routerLinkActive="active" routerDirection="root" detail="false">
                <ion-avatar class="mr-3">
                  <img *ngIf="price && price.resources && price.resources.images && price.resources.images.length > 0" [src]="price.resources?.images[0]?.url_image">
                </ion-avatar>
                <ion-label style="white-space: initial;">
                  <h2 *ngIf="price.price > 0">{{ price.price | currency: '$ ':'symbol':'3.0-0' }}</h2>
                  <h2 *ngIf="price.price == 0">{{ product.price | currency: '$ ':'symbol':'3.0-0' }}</h2>
                    <div class="attributes d-flex mt-2">
                        <div  *ngIf="price.resources && price.resources.attributes && price.resources.attributes[0]" class="color-attributte ml-3"
                        [ngStyle]="{'background-color': price.resources.attributes[0].value}">    
                        </div>
                    </div>
                    


                </ion-label>
              </ion-item>
            </div>
            <ion-buttons slot="end">
             <ion-button routerLink="/super-admin/product-price/{{pavilion.id}}/{{stand.id}}/{{product.id}}" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
             </ion-button>
           </ion-buttons>
          </ion-item>


      <div class="container-attr mb-4" *ngIf="product.resources && product.resources.attributes">
          <ion-item lines="none">
             <ion-label class="ion-text-wrap" slot="start">Atributos Físicos</ion-label>
             <ion-buttons slot="end">
                <ion-button (click)="newAttr={'name':'','value':''}; indexEditAttr = null; attrListId = null;">
                  <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>
             </ion-buttons>
          </ion-item>
          
          <!-- attribute Color-->
           <ion-item>
            <ion-label>  
                Color
            </ion-label>
            
            <div (click)="presenterShowColor();" class="d-flex color-small">
              <span class="mr-4" >{{attrColor?.label}}</span>
              <div *ngIf="attrColor?.value" class="label-color-small" 
               [ngStyle]="{'background-color':attrColor?.value}">
              </div>
              <div [hidden]="attrColor?.value" class="label-color-small" 
               [ngStyle]="{'background-color': 'transparent'}">
              </div>
            </div>
              <ion-button class="ml-4" (click)="clearColor()">
                Limpiar
              </ion-button> 
          </ion-item>
          
          <!-- attribute list-->
            <div *ngFor="let attr of product.resources.attributes; let i = index;">
            <ion-item *ngIf="i >= 1" >
              <ion-label *ngIf="indexEditAttr==null || indexEditAttr !== i"> {{ attr.name }} </ion-label>
              <ion-label *ngIf="indexEditAttr==null || indexEditAttr !== i"> {{ attr.value }} </ion-label>
              <ion-grid *ngIf="indexEditAttr == i">
                <ion-row>
                  <ion-col size="5">
                     
                     <input class="attribute-key fs-1" [(ngModel)]="attr.name" (click)="showAttr(i+1,attr)" 
                     (keypress)="showAttr(i+1,attr)">
                     
                     <div class="input-attr-down" (click)="showAttr(i+1,attr)">
                       <ion-icon name="caret-down-outline" aria-label="caret down outline" role="img" class="md hydrated"></ion-icon>
                     </div>
                     <div class="attr-list" *ngIf="attrListId == i+1" style="font-size: 0.8em;">
                       <div *ngFor="let attrSel of attrFilter" (click)="setAttrName(attrSel,i)">
                          {{ attrSel }}
                       </div>
                     </div>
                  </ion-col>
                  <ion-col size="5">
                    <input class="attribute-value fs-1" [(ngModel)]="attr.value">        
                  </ion-col>
                  <ion-col size="2">
                    <ion-button (click)="modifyAttr(i)">
                    Modificar
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-buttons side="end">
                <ion-button color="danger" (click)="deleteAttr(i)">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
                <ion-button  (click)="showModifyAttr(i)">
                  <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
            </div>
            
          <!-- end attribute list-->
          
          <ion-grid class="attribute" button="true" *ngIf="newAttr">
            <ion-row>
              <ion-col size="5">
                
                <input type="text" class="attribute-key" [(ngModel)]="newAttrName" 
                     (click)="showAttr(0,{'name':newAttrName})"
                     (keypress)="showAttr(0,{'name':newAttrName})"/>
                     
                 <div class="input-attr-down" (click)="showAttr(0,{'name':newAttrName})" style="font-size: 2em;">
                   <ion-icon name="caret-down-outline" aria-label="caret down outline" role="img" class="md hydrated"></ion-icon>
                 </div>
                 <div class="attr-list" *ngIf="attrListId == 0">
                   <div *ngFor="let attrSel of attrFilter" (click)="setAttrName(attrSel,-1)">
                      {{ attrSel }}
                   </div>
                 </div>
              </ion-col>
              <ion-col size="5">
                <input class="attribute-value" [(ngModel)]="newAttrValue">        
              </ion-col>
              <ion-col size="2">
                <ion-button (click)="addAttribute()">
                Agregar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
      </div>

      <ion-item button="false" lines="none">
         <ion-label>
           Palabras Clave
         </ion-label>
         </ion-item>
         <ion-list class="">
            <ion-grid>
                  <ion-row *ngFor="let keyword of keywords; let i = index;">
                  <ion-col size="5">
                     <input class="attribute-key" [(ngModel)]="keyword.value">
                  </ion-col>
                  </ion-row>
                  <ion-row>
                  <ion-col>
                     <input class="attribute-key" [(ngModel)]="newKeyWord">
                  </ion-col>
                  <ion-col size="2">
                     <ion-button (click)="addKeyWord()">
                        Agregar
                     </ion-button>
                  </ion-col>
               </ion-row>
           </ion-grid>
         </ion-list>
  
         
            <ion-button class="mt-4" expand="block" [disabled]="!editSave" (click)="updateProduct()">
            {{this.product.id? 'Guardar cambios':'Crear Producto'}}
            <ion-icon slot="start" name="save"></ion-icon>
            </ion-button> 

      </ion-list>
   </div>
   
</ion-content>