<ion-header class="mt-5">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/super-admin/fair"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="pavilion?.id">
      <ion-button color="danger" (click)="deletePavilion()">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Borrar
      </ion-button>
    </ion-buttons>
    <ion-title>Administrar Pabellón</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

    <ion-list *ngIf="pavilion" class="padding-container">
   
       <ion-item lines="none" *ngIf="pavilion.id" [ngClass]="{'mt-4': pavilion.id}">
          <ion-label style="max-width: 75px;" slot="start">Escenas</ion-label>
           <div class="d-flex ml-auto scroll-container" style="overflow-x: scroll;">
              <ion-item  *ngFor="let scene of pavilion?.resources.scenes;let i = index" class="scene-icon-mini"
              button="true" routerLink="/super-admin/map-editor/pavilion/{{pavilion.id}}/{{i}}" routerLinkActive="active" routerDirection="root" detail="false">
               <img *ngIf="scene && scene.url_image" [src]="scene.url_image" class="ml-auto mr-auto mt-2 mb-2" alt="escena" style="width: 77px;">
               <h2 [hidden]="scene && scene.url_image" style="width: 82px; height: 41px;"><small>{{scene.title}}</small></h2>
              </ion-item>    
            </div>

         <ion-buttons slot="end">
            <ion-button routerLink="/super-admin/map-editor/pavilion/{{pavilion.id}}">
              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
         </ion-buttons>
       </ion-item>
    
      <ion-item button="true" [ngClass]="{'mt-4': !pavilion.id}">
        <ion-label> Nombre </ion-label>
        <ion-input class="ml-auto" class="text-right" [(ngModel)]="pavilion.name" (ionChange)="editSave=true" name="name"></ion-input>
      </ion-item>
      <ion-item button="true">
        <ion-label> Descripción </ion-label>
        <ion-input class="ml-auto" class="text-right" [(ngModel)]="pavilion.description" (ionChange)="editSave=true" name="description"></ion-input>
      </ion-item>
      <ion-item lines="" *ngIf="pavilion.id">
          <ion-label style="max-width: 153px;" slot="start">Locales Comerciales </ion-label>
            <ion-grid>
               <ion-row>
                <ion-col  *ngFor="let stand of stands;let i = index" >
                    <ion-item class="div-stand"
                    routerLink="/super-admin/stand/{{pavilion.id}}/{{stand.id}}" routerLinkActive="active" routerDirection="root" detail="false">
                      <ion-avatar class="mr-3">
                        <img [src]="stand.merchant?.resources?.url_image">
                      </ion-avatar>
                      <ion-label>
                        <h2>{{stand.merchant?.nick}}</h2>
                        <h3>{{stand.merchant?.name}}</h3>
                      </ion-label>
                    </ion-item>
                  </ion-col>
                 </ion-row>
              </ion-grid>

         <ion-buttons slot="end">
            <ion-button routerLink="/super-admin/stand/{{pavilion.id}}" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
         </ion-buttons>
       </ion-item>

      
      <ion-item [hidden]="!errors">
        <div class="alert alert-danger m-auto">
         <a href="javascript:void(0)" class="close" (click)="errors=null" title="close">×</a>
         <strong>Error!</strong> {{errors}}
        </div>
      </ion-item>

      <ion-item [hidden]="!success">
        <div class="alert alert-success m-auto">
         <a href="javascript:void(0)" class="close" (click)="success=null" title="close">×</a>
         <strong></strong> {{success}}
        </div>
      </ion-item>
      
      <ion-button class="mt-4" expand="block" [disabled]="!editSave" (click)="updatePavilion()">
        {{this.pavilion.id? 'Guardar cambios':'Crear Pabellón'}}
        <ion-icon slot="start" name="save"></ion-icon>
      </ion-button>
    
    </ion-list>

  <!--/form-->

</ion-content>
