<ion-slides #slides pager="true" paginationType="bullets" slidesPerView="1" (ionSlideWillChange)="ionSlideChange($event)"
[options]="slideOpts" navigation class="container-carousel" *ngIf="imagesArray && imagesArray.length > 1">
  <ion-slide *ngFor="let image of imagesArray">
   <div class="container-img" [ngStyle]="{'background-image': 'url('+image.url_image+')'}">
   </div>
  </ion-slide>
</ion-slides>

<div *ngIf="imagesArray && imagesArray.length > 1" class="position-absolute bullet" 
[ngStyle]="{'top': ( imageHeight / 2.6 ) + 'px', 'font-size': ( imageHeight / 4 ) + 'px'}">
  
  <div (click)="slidePrev()" ion-button class="position-absolute left" 
  [ngClass]="{'active': !isBeginning, 'in-active':isBeginning}"
  [ngStyle]="{'left': '-' + ( imageWidth / 10 ) + 'px'}"><ion-icon name="chevron-back-outline"></ion-icon></div>
  
  <div (click)="slideNext()" ion-button class="position-absolute right" 
  [ngClass]="{'active': !isEnd, 'in-active':isEnd}"
  [ngStyle]="{'left': ( imageWidth * 0.90 ) +'px'}"><ion-icon name="chevron-forward-outline"></ion-icon></div>

</div>

<div class="container-carousel" [hidden]="imagesArray && imagesArray.length > 1">
   <div *ngFor="let image of imagesArray" class="container-img" [ngStyle]="{'background-image': 'url('+image.url_image+')'}">
   </div>
</div> 

<div class="color-container" *ngIf="colors.length >= 1">
 <div class="color-attr" *ngFor="let color of colors; let i = index;" 
 [ngStyle]="{'background-color': color.value,
  'min-width': imagesPriceWidth + 'px',
  'min-height': imagesPriceWidth + 'px'
  }" 
 (click)="onChangeColor(i)">
 </div>
</div>
