:root {
  --width: 100px;
  --height: 100px;
}
 
$width: 100px;
$height: 16em;
 
.container-carousel {
   width: 100%;
   height: 100%;
}


.color-container .color-attr:first-child {
  margin-left: auto !important;
}

.color-container .color-attr:last-child {
  margin-right: auto !important;
}

.color-attr {
  border-radius: 50%;
  cursor: pointer;
  margin: auto;
  border: 1px solid gray;
  min-width: 16px;
  min-height: 16px;
}

.container-img {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 70%;
  height: 100%;
  margin: auto;
}
  
.color-container {
  display: flex;
}

.bullet {
  cursor: pointer;
  top: 110px;
  font-size: 40px;
  .left {
    left: -32px;
  }
  .right {
    left: 152px;
  }
}


.bullet .active {
  color: #007aff;
}

.bullet .in-active {
  color: #e1e1e1;
}