<ion-grid [ngStyle]="{ '--background': scene?.backgroundColor, 'background-color': scene?.backgroundColor }">
  
  <ion-row *ngFor="let row of scene?.rows; let indexRow = index" style="min-height: 6em;"
  [ngClass]="{'layout-row': true }"
  >
    <ion-col 
	(click)="goToclick(col)"
	size="{{ ( windowScreenSm ? '12' : row.cols.length == 2 && windowScreenLg ? '6' : '' ) }}" 
	*ngFor="let col of row.cols; let indexCol = index" 
	class="d-flex layout-col cursor-pointer"
	[ngClass]="{'center':col.align=='center','layout-selected':layoutSel?.id == col?.id}" 
	[ngStyle]="{
		'width': scene.styles?.width + 'em',
		'height': scene.styles?.height + 'em',
		'margin-top': scene.styles?.marginTop + 'em'
    }">
	
	{{layoutSel?.id}}
	    <div *ngFor="let banner of col.banners" 
		  [ngStyle]="{
		    'width': ( !banner.styles || banner.styles && ( !banner.styles.width || banner.styles.width === '100%' ) ) ? '100%' : banner.styles?.width + 'em',
			'height': ( !banner.styles || banner.styles && ( !banner.styles.height || banner.styles.height === '100%' ) ) ? '100%' : banner.styles?.height + 'em',
			'margin-top': banner.styles?.marginTop + 'em',
			'margin-left': banner.styles?.marginLeft + 'em',
			'text-align': banner.styles?.textAlign,
			'position': banner.styles?.position?.type,
			'top': banner.styles?.position?.top + 'em',
			'left': banner.styles?.position?.left + 'em'
		  }">
		  
           <img *ngIf="banner.image" [src]="banner.image.src" 
		   [ngStyle]="{
		    'width': ( !banner.styles || banner.styles && ( !banner.styles.width || banner.styles.width === '100%' ) ) ? '100%' : banner.styles?.width + 'em',
		    'height': auto,
			'height': banner.styles?.height + 'em',
			'opacity': 0.25
		   }">
		   
		   <h1 *ngIf="banner.text"
		   [ngStyle]="{
		     'font-size': banner.text?.fontSize + em,
		     'color': banner.text?.color,
			 'width': '100%',
			 'height': banner.styles?.height + 'em',
		     'padding': banner.text?.padding + em,
			 'opacity': 0.25
		   }">
		   {{ banner.text?.value }}
		   </h1>
           <app-layout-component 
		     *ngFor="let subChild of banner?.scenes"
		     [editMode]="editMode"
		     [scene]="subChild" 
			 (click)="goToclick"
			 [layoutSel]="layoutSel"
		     [windowScreenSm]="windowScreenSm" 
             (onHoverBanner)="goToOnHoverBannerReciclyer($event)">
           </app-layout-component>
        </div>
        <div class="add-col" (click)="addCol(col)"><ion-icon name="chevron-forward-circle-outline"></ion-icon></div>
        <div class="add-row" (click)="addRow(col, scene)"><ion-icon name="chevron-down-circle-outline"></ion-icon></div>
		
	</ion-col>
  
  </ion-row>
</ion-grid>