.scene {
  width: 200px;
  height: 200px;
  top: 40px;
  left: 180px;
  perspective: 400px;
  position: absolute;
}

.cube {
  width: 20px;
  height: 20px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.link.cube__face--right:hover {
  cursor: pointer;
}

.cube__face--right  { 
  background: hsla( 60, 100%, 50%, 0.7); 
  transform: translateZ(104px) rotateY( -56deg);
}

.full-screen-button {
  position: absolute;
  top: 0;
  z-index: 11;
}


.div-container {
  width: 100%;
  overflow: auto;
}


.tooltip-label {
  position: absolute;
  left: -150px;
  top: 7px;
  background-color: black;
  padding: 8px;
  border-radius: 11px;
  color: #fff;
}


.tabs-menu {
  position: absolute;
  
  z-index: 11;
}

@media (max-width: 690px) {
  .tabs-menu {
    
	  left: 0;
	    ion-button {
	     font-size: 10px;
		 
	     ion-label {
           font-size: 10px;
		 }
	  }
	}
}