.agenda-logo {
  min-height: 128px;
}

.agenda-logo img {
  max-width: 150px;
  border-radius: 19px;
  margin: 10px auto;
}

ion-item.agenda-logo {
  --background-hover: var(--primary);
}

.agenda-button {
    border: 1px solid;
    margin-left: 10px;
    border-radius: 21px;
    border-color: var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
    --border-color: var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
}

.agenda-button-add {
  max-height: 88%;
  border-radius: 21px;
}

.tag-container {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 10px;
  margin: 10px;
}

.tag {
  display: inline-block;
  background-color: #5bc0de;
  color: #fff;
  margin: 5px 5px;
  padding: 2px 5px;
}
