<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/super-admin/fair"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="action==='update'">
      <ion-button color="danger" (click)="onDeleteAgenda()">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Borrar
      </ion-button>
    </ion-buttons>
    <ion-title>Administrar Agenda</ion-title>
  </ion-toolbar>
</ion-header>
    
<ion-content fullscreen="true">

     
  <ion-item class="padding-container agenda-logo mt-4" *ngIf="agenda" button="true" (click)="onChangeImage()">
    <img [src]="agenda?.resources?.url_image" *ngIf="agenda.resources?.url_image">
  </ion-item>

    <ion-list lines="" *ngIf="agenda" class="padding-container">
      <ion-item button="true">
        <ion-label> Título </ion-label>
        <ion-input class="ml-auto" class="text-right" [(ngModel)]="agenda.title" name="name"></ion-input>
      </ion-item>
      <ion-item button="true">
        <ion-label> Descripción </ion-label>
        <ion-input class="ml-auto" class="text-right" [(ngModel)]="agenda.description" name="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Fecha de inicio</ion-label>
        <ion-datetime min="2019" max="2025" (ionChange)="onChangeStartTime()" display-format="DD/MM/YYYY HH:mm" picker-format="DD/MM/YYYY HH:mm" [(ngModel)]="agenda.start_at_str"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label> Zona horaria </ion-label>
        <ion-select [(ngModel)]="agenda.timezone" >
            <ion-select-option *ngFor="let timezone of timezones" value="{{timezone.name}}">{{timezone.name}}
            </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label> Duración </ion-label>
        <ion-select [(ngModel)]="agenda.duration_time" >
            <ion-select-option *ngFor="let duration of durations" value="{{duration.id}}">{{duration.name}}
            </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label> Categoría</ion-label>
        <ion-select [(ngModel)]="agenda.category.id" >
            <ion-select-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}
            </ion-select-option>
        </ion-select>
      </ion-item>
            
      <ion-item>
        <ion-label> Tipo de público </ion-label>
        <ion-select [(ngModel)]="agenda.audience_config" >
            <ion-select-option *ngFor="let audience of audiences" value="{{audience.id}}">{{audience.name}}
            </ion-select-option>
        </ion-select>
      </ion-item>
      
     <ion-item *ngIf="agenda.audience_config == 4" button="true" (click)="presentActionPrice()">
       <ion-label> Precio por evento </ion-label>
       <ion-buttons>
          <ion-label slot="end"> {{agenda.price  | currency: 'COP $ ':'symbol':'1.2-2'}}</ion-label>
        </ion-buttons>
      </ion-item>
      
      <ion-item *ngIf="action==='update' && agenda.audience_config === '2'">
       <ion-toolbar>
        <ion-buttons slot="secondary">
          <ion-button>
            <ion-icon slot="icon-only" name="person-circle"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
          <ion-button color="secondary" (click)="presentAudience()">
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-label slot="start">Lista de invitados</ion-label>
      </ion-toolbar>
      </ion-item>
      <ion-item *ngIf="action==='update' && agenda.audience_config === '2'">
        <div class="tag-container">
          <span class="tag" *ngFor="let audience of invited_emails">
          {{ audience.email }}
          <ion-icon name="close" (click)="deleteTag(audience)"></ion-icon>
          </span>
        </div>
      </ion-item>
      
      <div class="ion-padding">
        <ion-button  (click)="onUpdateAgenda()" *ngIf="action==='update'"  expand="block">
         <ion-label > Guardar Cambios </ion-label>
            <ion-icon slot="end" name="save-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="action==='create'" (click)="onCreateAgenda()" expand="block">
         <ion-label > Crear Agenda </ion-label>
          <ion-icon slot="end" name="save-outline"></ion-icon>
        </ion-button>
      </div>

      <ion-list-header [hidden]="!errors">
        <div class="alert alert-danger fade show alert-dismissible">
         <a href="javascript:void(0)" class="close" aria-label="close" (click)="errors=null" title="close">×</a>
           <strong></strong> {{errors}}
        </div>
      </ion-list-header>
  
      <ion-list-header [hidden]="!success">
        <div class="alert alert-success fade show alert-dismissible">
          <a href="javascript:void(0)" class="close" aria-label="close" (click)="success=null" title="close">×</a>
          <strong></strong> {{success}}
        </div>
      </ion-list-header>
      
      <ion-item lines="none" *ngIf="action==='update'">
        <ion-toolbar>
          <ion-buttons slot="primary">
            <ion-button color="primary" (click)="presentSpeakers()">
              <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-label slot="start">Conferencistas</ion-label>
        </ion-toolbar>
      </ion-item>
      
      <ion-item *ngIf="action==='update'">
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let invited_speaker of invited_speakers" 
              class="d-flex pavilion-button" button="true" 
              routerLink="/super-admin/agenda/{{agenda.id}}" routerLinkActive="active" routerDirection="root" detail="false">
                <ion-avatar class="mr-3">
                  <img [src]="invited_speaker.speaker?.resources?.url_image">
                </ion-avatar>
                <ion-label>
                  <h2>{{invited_speaker.speaker.user.name + ' ' + invited_speaker.speaker.user.last_name}}</h2>
                  <h3>{{speakers.description}}</h3>
                  <p>{{speakers.stands?.length }} locales asociados</p>
                </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
     </ion-item>

    </ion-list>
</ion-content>
