<ion-header>
</ion-header>

<ion-content>

  <div class="card w-100 p-3">
    <div class="info">
      <ion-icon color="primary" name="calendar-outline"></ion-icon>
    </div>
    <div class="padding-container min-height">
      <ion-list-header [hidden]="!errors">
        <div class="alert alert-danger fade show alert-dismissible">
          <a href="javascript:void(0)" class="close" aria-label="close" (click)="errors=null" title="close">×</a>
          <strong></strong> {{errors}}
        </div>
      </ion-list-header>

      <ion-item *ngIf="success" class="not-found">
        <div class="alert alert-success alert-dismissible">
          <a href="javascript:void(0)" class="close" aria-label="close" (click)="success=null" title="close">×</a>
          <strong></strong> {{success}}
        </div>
      </ion-item>

      <ion-list>
        <ion-grid *ngIf="agenda" class="mt-4">
          <ion-row>
            <ion-col>
              <div>
                <img [src]="agenda.category?.resources?.url_image" />
                <br />
                <ion-item
                  [ngStyle]="{'border-left': '2px solid ' + agenda.category?.resources.color,'color': agenda.category?.color}">
                  <ion-label class="ml-4 text-uppercase"> {{agenda?.category?.name}}</ion-label>
                  <br /><br />
                </ion-item>

              </div>
              <ion-list>

                <ion-item *ngIf="loaded && ( agenda.audience_config == 4 && !eventPayment ) "
                  [hidden]="profileRole && ( profileRole.speaker || profileRole.admin )" (click)="onAgendaPrice()"
                  button>
                  <ion-label color="primary">Entrar al Evento por $ {{agenda?.price | currency: ' ':' ':'1.0-0'}}
                  </ion-label>
                </ion-item>

                <ion-item *ngIf="loaded && profileRole && ( profileRole.speaker || profileRole.admin )"
                  (click)="onViewerMeeting()" button>
                  <ion-label color="primary"> Iniciar conferencia </ion-label>
                </ion-item>

                <ion-item *ngIf="loaded && eventPayment && agenda.audience_config == 4"
                  [hidden]="profileRole && ( profileRole.speaker || profileRole.admin )" (click)="onViewerMeeting()"
                  button>
                  <ion-label color="primary">Entrar al Evento</ion-label>
                </ion-item>

                <ion-item *ngIf="loaded && agenda.audience_config == 1" button
                  [hidden]="!profileRole || ( profileRole && ( profileRole.speaker || profileRole.admin ))"
                  (click)="onViewerMeeting()">
                  <ion-label color="primary">Entrar al Evento</ion-label>
                </ion-item>

                <!--Config 5-->
                <ion-item *ngIf="loaded && agenda.audience_config == 5 && agenda.disableSelection"
                  [hidden]="profileRole && ( profileRole.speaker || profileRole.admin )" (click)="onViewerMeeting()"
                  button>
                  <ion-label color="primary">Entrar al Evento</ion-label>
                </ion-item>

                <ion-item button
                  *ngIf="loaded && agenda.audience_config == 5 && ( agenda.category.name != 'Taller_M' && agenda.category.name != 'Taller_T' ) "
                  [hidden]="profileRole && ( profileRole.speaker || profileRole.admin )">
                  <ion-label color="primary">Pronto iniciará este evento</ion-label>
                </ion-item>

                <ion-item
                  *ngIf="loaded && agenda.audience_config == 5 && ( agenda.category.name == 'Taller_M' || agenda.category.name == 'Taller_T' ) "
                  [hidden]="!profileRole || (profileRole && ( profileRole.speaker || profileRole.admin || agenda.full || agenda.disableSelection))"
                  (click)="goToFormCatalog()" button>
                  <ion-label color="primary">Inscribirse al Evento</ion-label>
                </ion-item>

                <ion-item *ngIf="loaded && agenda.audience_config == 5 && agenda.full"
                  [hidden]="profileRole && ( profileRole.speaker || profileRole.admin)" button>
                  <ion-label color="primary">Evento Agotado</ion-label>
                </ion-item>

                <ion-item [hidden]="profileRole" (click)="showRegister = true" button>
                  <ion-label color="primary">Registrarse al Congreso</ion-label>
                </ion-item>

                <ion-item *ngIf="loaded && eventPayment && agenda.audience_config == 4"
                  [hidden]="profileRole && ( profileRole.speaker || profileRole.admin )" (click)="onViewerMeeting()"
                  button>
                  <ion-label color="primary">Entrar al Evento</ion-label>
                </ion-item>


              </ion-list>
            </ion-col>
            <ion-col class="content-left scroll-light">
              <ion-label style="margin-left: 16px;">
                <h1>{{agenda.title}}</h1>
                <br />
                <ion-item line="none">
                  <ion-text>{{agenda.description}}</ion-text>
                </ion-item>
                <br /><br />
                <ion-item>
                  <ion-text color="medium" style="text-transform: capitalize;">
                    {{agenda.strDay}}
                    <br />
                    {{agenda.startTime}} &ndash; {{agenda.endTime}}

                    <span>{{agenda.timezone}}</span>
                    <br /> {{agenda.location}}
                  </ion-text>
                </ion-item>
                <br /><br />
                <h4 *ngIf="invited_speakers?.length > 1">Invitados</h4>
                <h4 *ngIf="invited_speakers?.length === 1">Invitado</h4>

                <ion-item *ngFor="let invited_speaker of invited_speakers" class="p-2"
                  (click)="onSpeaker(invited_speaker.speaker)" button>

                  <div class="d-flex">
                    <ion-avatar slot="start" class="p-2">
                      <img [src]="invited_speaker.speaker?.profile_picture"
                        [alt]="invited_speaker.speaker?.user?.name + ' profile picture'">
                    </ion-avatar>
                    <ion-label class="speaker-name">
                      <h5>{{ invited_speaker.speaker?.user?.name + ' ' + invited_speaker.speaker?.user?.last_name }}
                      </h5>
                      <small>{{invited_speaker.speaker?.profession}}</small>
                    </ion-label>
                  </div>
                </ion-item>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <div *ngIf="showConfirmByProduct" class="mt-1">
                <ion-toolbar class="pay-button ml-6 footer-pay" style="bottom: 5em;">
                  <h6 style="margin-right:2em; width: 87%;" slot="start">Confirma para agregar el evento al carrito de
                    compras por $ {{ agenda.price | currency: ' ':' ':'1.0-0' }}</h6>
                  <div (click)="showConfirmByProduct=false" class="close-play cursor-pointer">
                    <ion-icon name="close-outline" slot="icon-only"></ion-icon>
                  </div>
                </ion-toolbar>
                <ion-toolbar class="pay-button ml-6 footer-pay">
                  <ion-button class="button ml-6" color="primary" size="small" (click)="onBuyAgenda();">
                    Añadir y pagar carrito
                  </ion-button>
                </ion-toolbar>
              </div>
              <div *ngIf="showRegister" class="mt-1">
                <ion-toolbar class="pay-button ml-6 footer-pay" style="bottom: 5em;">
                  <h6 style="margin-right:2em; width: 87%;" slot="start">Para ingresar a este evento debes registrarte y
                    acceder con tu usuario</h6>
                  <div (click)="showRegister=false" class="close-play cursor-pointer">
                    <ion-icon name="close-outline" slot="icon-only"></ion-icon>
                  </div>
                </ion-toolbar>
                <ion-toolbar class="pay-button ml-6 footer-pay">
                  <ion-button class="button ml-6" color="primary" size="small" (click)="onPresenterLogin()">
                    Ingresar o crear cuenta
                  </ion-button>
                </ion-toolbar>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </div>
  </div>
</ion-content>