:root {
  --width: 100px;
  --height: 100px;
}
 
$width: 100px;
$height: 16em;
 
.container-carousel {
  width: 100%;
  height: 41%;
  left: -0.6em;
}

.color-container div .color-attr:first-child {
  margin-left: auto !important;
}

.color-container div .color-attr:last-child {
  margin-right: auto !important;
}

.color-attr {
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid gray;
  min-width: 16px;
  min-height: 16px;
}


.cont-attr {
  margin: auto;
  height: 2em;
}

.cont-attr.select {
  border-bottom: 1px solid black;
  
}



.container-img { 
  background-repeat: no-repeat;
  background-size: 100%;
  width: 70%;
  height: 100%;
  margin: auto;
}
  
.color-container {
  display: flex;
  top: 20em;
  left: 0em;
}

.bullet {
  cursor: pointer;
  top: 110px;
  font-size: 40px;
  .left {
    z-index: 10000;
    left: -21px;
  }
  .right {
    z-index: 10000;
    
  }
}

.bullet .active {
  color: #007aff;
}

.bullet .in-active {
  color: #e1e1e1;
}