<ion-card>
  <ion-card-header>
    <ion-card-title><small>Selecciona la categoría de conferencitas</small></ion-card-title>
    <ion-buttons >
      <ion-label slot="start">Confirma la categoria</ion-label>
      <ion-button slot="end" (click)="dismissModal()">
        Cancelar
      </ion-button>
      <ion-button slot="end" (click)="acceptModal()" [disabled]="!categorySelected">
        Aceptar
      </ion-button>
    </ion-buttons>
  </ion-card-header>

  <ion-card-header>
    Lista de categorias
    <select>
      <option *ngFor="let category of catalogList" value="{{category.label}}">
        {{category.label}}
      </option>
    </select>
  </ion-card-header>
  <ion-card-header>
    Lista de categorias
    <input [(ngModel)]="categorySelected"  (change)="onChangeItem()">
  </ion-card-header>

  <ion-card-content>

    <ion-list class="container-height" *ngIf="catalogList.length > 0">

      <div>
        <ion-list>
          <div>
            <ion-grid>
              <ion-row>
                <ion-col *ngFor="let speaker of elementList" class="col-4" class="product-mini">
                  <ion-item>
                    <ion-thumbnail slot="start">
                      <img [src]="speaker.profile_picture" />
                    </ion-thumbnail>
                    <ion-label>{{speaker.user?.name}} {{speaker.user?.last_name}}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-list>
      </div>
    </ion-list>
  </ion-card-content>

  <ion-card-header>
    
  </ion-card-header>

</ion-card>