/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/*
 * App CSS
 * ----------------------------------------------------------------------------
 * Imports a file that can contain Sass/CSS that should be used throughout
 * the entire app.
 */

@import "./app/app.scss";


@font-face {   
  font-family: 'YoutubeSansBold';
  src: url('./assets/fonts/youtube-sans/youtube-sans-bold.otf')  format('embedded-opentype'),
       url('./assets/fonts/youtube-sans/youtube-sans-bold.ttf')  format('truetype'),
	   url('./assets/fonts/youtube-sans/youtube-sans-bold.svg#YoutubeSansLight')  format('svg');
}

@font-face {   
  font-family: 'YoutubeSansMedium';
  src: url('./assets/fonts/youtube-sans/youtube-sans-medium.otf')  format('embedded-opentype'),
       url('./assets/fonts/youtube-sans/youtube-sans-medium.ttf')  format('truetype'),
	   url('./assets/fonts/youtube-sans/youtube-sans-medium.svg#YoutubeSansLight')  format('svg');
}

@font-face {   
  font-family: 'YoutubeSansLight';
  src: url('./assets/fonts/youtube-sans/youtube-sans-light.otf')  format('embedded-opentype'),
       url('./assets/fonts/youtube-sans/youtube-sans-light.ttf')  format('truetype'),
	   url('./assets/fonts/youtube-sans/youtube-sans-light.svg#YoutubeSansLight')  format('svg');
}

html {
    --ion-default-font: YoutubeSansMedium !important;
}

//*Global Styles*//
ion-router-outlet {
   top: 30px;
}

.menu-main-content {
  margin-top: 57px;
}

.white-space {
    white-space: initial;
}

.alert.alert-dismissible {
    margin: auto;
    text-align: center;
	padding-right: 2rem;
	a.close {
		text-decoration: none !important;
		font-size: 18px !important;
		position: relative;
		top: -2px;
		right: -4px;
		color: inherit;
		float: right;
		font-weight: 700;
		line-height: 1;
		color: #000;
		text-shadow: 0 1px 0 #fff;
		opacity: .2;
		padding: 0;
	}
}

.d-flex {
  display: flex;
}

.padding-container {
  padding: 53px 10% 0 10%;
}

@media (min-width: 600px) {
  .padding-container {
    padding: 0px 10% 0 10%;
  }
}

* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}