.ion-card {
  --background: #f6f7f9;
  border-radius: 18px;
  border-color: #cdd9f0;
  padding: 11px;
  margin: 25px;
}

.ion-item-card {
  margin: 7px 37px;
}

.background-transparent {
  --background: transparent;
}

.price {
  
}

.button-close {
  margin-right: 9px;
  font-size: 20px;
  cursor: pointer;
}

.payment-button{
      position: absolute;
    top: 34px;
    right: 27px;
}


 