<ion-content>
  
  <ion-list class="padding-content">  
    <ion-toolbar>
      <h5>Conferencistas asociados</h5>
      <ion-buttons slot="end">
        <ion-button (click)="onClose()">Cerrar</ion-button>
        <ion-button color="primary" (click)="onSave()">
          <ion-label>Aceptar</ion-label>
          <ion-icon slot="end" name="save-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    
    <!-- Checkboxes in a List -->
    <ion-item *ngFor="let speaker of speakers ">
      <ion-label><small>{{speaker.user.name + ' ' + speaker.user.last_name}}</small></ion-label>
      <ion-checkbox slot="end" [(ngModel)]="speaker.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
