<ion-content>
  
  <ion-list class="padding-content">  
    <ion-list-header lines="inset">
      <ion-label>Conferencistas asociados</ion-label>
      <ion-button (click)="onClose()">Cerrar</ion-button>
      <ion-button color="primary" (click)="onSave()">
          <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-list-header>
    
    <ion-toolbar>
        <ion-searchbar placeholder="Buscar..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
    </ion-toolbar>
    
    <!-- Checkboxes in a List -->
    <ion-item *ngFor="let speaker of speakers ">
      <ion-label>{{speaker.user.name + ' ' + speaker.user.last_name}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="speaker.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
